<div class="-outer -speaker  -triangle -triangle-prev">
    <img src="./images/decor/background-who-goes.png" alt="Фон" loading="lazy" class="bgparalax">
    <img src="./images/decor/decor_right-bg.png" alt="Фон" loading="lazy" class="bgparalax2">
    <div class="-triangle-shadow"></div>
        <div class="-inner">
            <h2 class="-big -bg-5" style="--bg-1:url(../images/h/decor.png)">СПИКЕРЫ</h2>
            <ul class="-speaker-list -bg-6">
                <li id="bx_651765591_2729">
                    <div class="pict">
                        <img src="./images/speakers/habirov.jpg" alt="Радий Хабиров" loading="lazy">
                    </div>
                    <div class="name">Радий Хабиров</div>
                    <div class="prof">Глава Республики Башкортостан</div>
                </li>
                <li id="bx_651765591_2730">
                    <div class="pict">
                        <img src="./images/speakers/nazarov.jpg" alt="Андрей Назаров" loading="lazy">
                    </div>
                    <div class="name">Андрей Назаров</div>
                    <div class="prof">Премьер-министр Правительства Республики Башкортостан</div>
                </li>
                <li id="bx_651765591_2731">
                    <div class="pict">
                        <img src="./images/speakers/chupsheva.jpg" alt="Светлана Чупшева" loading="lazy">
                    </div>
                    <div class="name">Светлана Чупшева</div>
                    <div class="prof">Генеральный директор агентства стратегических инициатив</div>
                </li>
            </ul>
            <p class='-center §2'>
                <a href='/speakers/' class='bt'>Все спикеры</a>
            </p>
        </div>
</div>