<div class="-outer -memory -triangle -triangle-prev -bg-7" style="--bg-1:url(/images/bg-memory.png)">
    <div class="-triangle-shadow"></div>
    <div class="-inner">
        <h2 class="-big -bg-8" style="--bg-1:url(/images/h/decor.png)">КАК ЭТО БЫЛО</h2>
        <div class="video-w §">
            <div class="video -bg-9" style="--bg-1:url(/images/memory/bg.jpg); --bg-2:url(/images/memory/play.png);" tabindex="0" onclick="var i=this.querySelector(&quot;iframe&quot;);  i.classList.remove(&quot;is-hidden&quot;);  i.src+=&quot;?autoplay=1&quot;" onkeydown="if (event.code==&quot;Enter&quot;)  this.click ()">
                <iframe class="is-hidden" src="https://www.youtube.com/embed/Uwkwh-NYz_8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
        <p class="-center §2"><a href="https://forum-zauralye.com/archive-21/" class="bt">ЗАУРАЛЬЕ 2021 →</a></p>
    </div>
</div>