.-memory .video-w {
    margin-bottom: 36px;
}


.-memory .bt {
    background: #00a8ff url(../images/decor/button_decor.png) bottom left no-repeat;
    border-radius: 5px;
    padding: 18px 0 15px;
    max-width: 229px;
    width: 100%;
}
