<div class="-outer -loc-on-main -triangle -triangle-prev">
    <div class="-triangle-shadow"></div>
    <div class="-inner">
        <h2 class="-big -bg-5" style="--bg-1:url(/images/h/decor.png)">МЕСТО ПРОВЕДЕНИЯ</h2>
        <ul class="-loc-list">
            <li id="bx_1373509569_4482">
                <div class="name"><b>МФК Зауралье</b></div>
                <div class="addr">
                    <img src="/images/locations/location.svg"><span>Сибай, Ленина, 15/1</span>
                </div>
                <div class="view">
                    <div class="pict">
                        <img src="/images/locations/1.jpg" loading="lazy">
                    </div>
                    <div class="map">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CCUmFTC0CC" frameborder="0" allowfullscreen="true" loading="lazy"></iframe>
                    </div>
                </div>
            </li>
            <li id="bx_1373509569_4484">
                <div class="name"><b>Парк Победы</b></div>
                <div class="addr">
                    <img src="/images/locations/location.svg"><span>Сибай, Парк Победы</span>
                </div>
                <div class="view">
                    <div class="pict">
                        <img src="/images/locations/2.jpg" loading="lazy">
                    </div>
                    <div class="map">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CCUmFTG8tB" frameborder="0" allowfullscreen="true" loading="lazy"></iframe>
                    </div>
                </div>
            </li>
            <li id="bx_1373509569_4486">
                <div class="name"><b>Филармония</b></div>
                <div class="addr">
                    <img src="/images/locations/location.svg"><span>Сибай, Горького, 27</span>
                </div>
                <div class="view">
                    <div class="pict">
                        <img src="/images/locations/3.jpg" loading="lazy">
                    </div>
                    <div class="map">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CCUmFTSjKA" frameborder="0" allowfullscreen="true" loading="lazy"></iframe>
                    </div>
                </div>
            </li>  
        </ul>
    </div>
</div>