<div class="-outer -welcome  -triangle-first">
    <div class="-inner">
        <div class="wrapper">
            <div class="welcome">
                <div class="welcome__top">
                    <img src="/images/logo/zauralye-logo.png" alt="">
                    <div class="city">
                        <span class="loc">СИБАЙ</span>
                        <span class="resp">Республика Башкортостан</span>
                    </div>
                    <div class="date">
                        <span class="numbr">2-4</span>
                        <span class="month">июня 2022&nbsp;г.</span>
                    </div>
                </div>
            </div>
            <div class="decor">
                <img src="/images/decor/decor_welcome-bg.png" alt="">
                <img src="/images/decor/decor_welcome.png" alt="">
                <img src="/images/decor/decor_welcome-bg1.png" alt="">
            </div>
        </div>
    </div>
</div>