.-welcome {
    // @media (min-width: 640px) {
    //     // background: url('../images/decor/decor_welcome-left-bg.png') left no-repeat, url('../images/decor/decor_welcome-right-bg.png') right no-repeat;
    // }
    @media (min-width: 1000px) {
        background: url(../images/decor/decor_welcome-left-bg.png) -87px 2px no-repeat;
        z-index: -1;
    }
}

.-welcome .wrapper {
    position: relative;

    padding-top: 70px;
    @media (min-width: 992px) {
        padding-top: 0;
        display: grid;
        gap: 24px;
        grid-template-areas: 'logo decor';
        grid-template-columns: 750px 1fr;
    }
    @media (max-width: 992px) {

        &::after {
            content: '';
            width: 120px;
            height: 120px;
            position: absolute;
            left: -12px;
            top: 0;
            background: url('../images/decor/background-wrapper.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        &::before {
            content: '';
            width: 120px;
            height: 120px;
            position: absolute;
            transform: scale(-1) rotate(-90deg);
            right: -12px;
            top: 0;
            background: url('../images/decor/background-wrapper.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }   
}

.-welcome .welcome {
    grid-area: logo;
    // min-height: 750px;
    width: fit-content;
    display: flex;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px) {
        padding-top: 50px;
        margin-left: unset;
        margin-right: auto;
    }
    @media (min-width: 1250px) {
        padding-top: 0;
        width: 100%;
        min-height: auto;
        margin-top: 178px;
        margin-bottom: 122px;
    }
}
.-welcome .-inner {
    margin-bottom: 0;
}
.-welcome .welcome__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 992px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 425px;
    }
    @media (min-width: 1000px) {
        position: unset;
        transform: unset;
    }
    @media (min-width: 1250px) {
        max-width: unset;
        display: grid;
        grid-template-areas: 'a b'
        'c b';
        grid-template-columns: 425px 1fr;    
    }
    .reg {
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 30px auto 0;
        max-width: 229px;
        width: 100%;
        button {
            display: block;
            border: none;
            font-family: 'Gilroy';
            border-radius: 5px;
            background: #D82D2A url('../images/decor/button_decor.png') no-repeat;
            color: white;
            font-weight: normal;
            font-style: normal;
            font-size: 18px;
            line-height: 16px;
            width: 100%;
            padding: 18px 0 15px;
        } 
        li {
            width: 100%;
        }
        li:last-of-type {
            button {
                margin-top: 19px;
                background: #00a8ff url('../images/decor/button_decor.png') no-repeat;
            }
        }

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.-welcome .welcome__top img {
    grid-area: a;
}
.-welcome .welcome__top .date {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    @media (min-width: 992px) {
        margin-top: 50px;
    }
    @media (min-width: 1250px) {
        margin-top: 0;
        margin-left: auto;
        margin-bottom: 40px;
    }
    .numbr {
        font-weight: 700;
        font-size: 99.5065px;
        line-height: 91px;
        text-transform: uppercase;
        color: #009248;
        text-align: center;
    }
    .month {
        font-weight: 700;
        font-size: 29.9929px;
        border-radius: 50px;       
        padding: 10px 20px;
        background: #009248;
        width: fit-content;
        color: #FFFFFF;
    }
}
.-welcome .city {
    margin: 0 auto;
    margin-top: 30px;
    grid-area: c;
    order: 2;
    
    @media (min-width: 992px) {
        margin-bottom: 120px;
        margin-top: 53px;
    }
    @media (min-width: 1250px) {
        order: 1;
        margin-bottom: 0;
    }
}

.-welcome .city .loc {
    text-align: center;
    color: rgba(0, 146, 72, 1);
    font-weight: 700;
    font-size: 73.1207px;
    line-height: 67px;
    text-transform: uppercase;
}
.-welcome .city .resp {
    text-align: center;
    color: rgba(0, 146, 72, 1);
    font-weight: 700;
    font-size: 18.3675px;
    line-height: 17px;
}
.-welcome .decor {
    position: absolute;
    right: 0;
    z-index: -1;
}
// .-welcome .decor {
//     background: url('../images/decor/decor_welcome-bg.png') no-repeat;
// }

.-welcome .decor img:nth-child(1) {
    position: absolute;
    z-index: -1;
    right: -370px;
    animation: 3s 1.5s move infinite alternate ease-out;
}
.-welcome .decor img:nth-child(3) {
    position: absolute;
    z-index: -2;    
    right: -736px;
    top: 0;
    animation: 3s 3s move infinite alternate ease-out;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20px);
    }
}
.-welcome .decor img:nth-child(2) {
    display: none;
    opacity: .3;
    @media (min-width: 1000px) {
        display: block;
        animation: 3s move infinite alternate ease-out;
        opacity: 1;
    }
}
* + .-welcome {
    overflow-x: hidden;
    margin-top: 0 !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

.-welcome .-inner {
    margin-top: 0 !important;
}

.-welcome .recommendation {
    max-width: 476px;
    width: 100%;
    background: url('../images/welcome-covid.png') left bottom no-repeat, #F8FCFF;
    background-size: contain;
    box-shadow: 0px 0px 49px 0px rgba(255, 255, 255, 0.72) inset;
    padding: 10px 10px 10px 110px;
    border-radius: 20px 20px 0 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 500px) {
        padding: 22px 52px 22px 110px;    
    }
    @media (min-width: 992px) {
        margin-left: unset;
        margin-right: unset;
        margin-top: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #051E48;
    }
}