<div class="-outer -offer">
    <div class="-inner">
        p.-title Уважаемые участники!
        p.-subtitle Получить профессиональную консультацию, помощь в выборе гостиницы и забронировать номер без наценки   вы можете у нашего партнера - единого туроператора мероприятия:
        .offer__content 
            .offer__logo 
                <img src="/images/logo/kreks.png" alt="Лого" loading="lazy">
            .offer__text
                span Режим работы:
                | Понедельник — пятница 9:00–19:00<br>
                | Суббота 10:00–14:00<br>
                | Воскресенье - выходной<br>
                span Телефоны:
                | +7(347) 222-47-00, +7-937-150-24-01
                span E-mail:
                | В нерабочее время вы можете написать нам на эл. почту и мы обязательно с вами свяжемся: booking.invest.sabantui@yandex.ru 
    </div>
</div>