<div class="-outer -org -triangle">
    <div class="-triangle-shadow"></div>
    <div class="-inner">
        <h2 class="-big -bg-10" style="--bg-1:url(../images/h/decor.png)">ОРГАНИЗАТОРЫ</h2>
        <ul class="-org-list">
            <li>
                <a href="https://glavarb.ru/">
                    <img src="./images/org/pravitelstvo.png" alt="Правительство РБ">
                </a>
            </li>
        </ul>
        <h3>ОПЕРАТОР ФОРУМА</h3>
        <ul class="-org-list">
            <li>
                <a href="http://congressrb.info/">
                    <img src="./images/org/operator.png" alt="Офис-группа">
                </a>
            </li>
        </ul>
        <h3>СТРАТЕГИЧЕСКИЙ ПАРТНЕР</h3>
            <ul class="-org-list">
                <li>
                    <a href="https://www.soda.ru/ru/">
                        <img src="./images/org/bsk.png" alt="БСК">
                    </a>
                </li>
            </ul>
        <h3>ГЕНЕРАЛЬНЫЕ ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</h3>
            <ul class="-org-list">
                <li>
                    <a href="kp.ru">
                        <img src="./images/org/kp.png" alt="КП">
                    </a>
                </li>
                <li>
                    <a href="https://www.interfax.ru/">
                        <img src="./images/org/interfax.png" alt="интерфакс">
                    </a>
                </li>
                <li>
                    <a href="https://news.ru/">
                        <img src="./images/org/newsru.png" alt="ньюз">
                    </a>
                </li>
                <li>
                    <a href="https://utro.news">
                        <img src="./images/org/ytro.jpg" alt="Утро.ру">
                    </a>
                </li>
                <li>
                    <a href="https://fedpress.ru/">
                        <img src="./images/org/federal-press.png" alt="ФедералПресс">
                    </a>
                </li>
                <li>
                    <a href="//pravda.ru">
                        <img src="./images/org/pravdaru.png" alt="Pravda.ru">
                    </a>
                </li>
                <li>
                    <a href="https://otr-online.ru/">
                        <img src="./images/org/otr.png" alt="ОТР">
                    </a>
                </li>
                <li>
                    <a href="https://rg.ru">
                        <img src="./images/org/rgru.png" alt="Российская газета">
                    </a>
                </li>
            </ul>
        <h3>ФЕДЕРАЛЬНЫЕ ПАРТНЕРЫ</h3>
        <ul class="-org-list">
            <li>
                <a href="https://asi.ru/">
                    <img src="./images/org/asi.png" alt="Агентство стратегических инициатив">
                </a>
            </li>
            <li>
                <a href="https://www.tpprf.ru/ru/">
                    <img src="./images/org/tpprf.png" alt="Торгово-промышленная палата Российской Федерации">
                </a>
            </li>
            <li>
                <a href="https://rspp.ru/">
                    <img src="./images/org/rspp.png" alt="РСПП">
                </a>
            </li>
            <li>
                <a href="https://i-regions.org/">
                    <img src="./images/org/i-regions.png" alt="АИРР">
                </a>
            </li>
            <li>
                <a href="https://aebrus.ru/ru/">
                    <img src="./images/org/aebrus.png" alt="АЕБ">
                </a>
            </li>
            <li>
                <a href="https://www.smd-mid.ru/">
                    <img src="./images/org/smd-mid.png" alt="Совет молодых дипломатов МИД РФ">
                </a>
            </li>
            <li>
                <a href="http://komitet4- 3.km.duma.gov.ru/ Ekspertnyj-sovet">
                    <img src="./images/org/gosduma.png" alt="Совет по строительству ГОС думы">
                </a>
            </li>
            <li>
                <a href="https://www.minstroyrf.gov.ru/">
                    <img src="./images/org/minstroyrf.png" alt="Минстрой России">
                </a>
            </li>
            <li>
                <a href="https://sistema.ru/">
                    <img src="./images/org/sistema.png" alt="АФК «СИСТЕМА»">
                </a>
            </li>
            <li><a href="https://www.exportcenter.ru/"><img src="./images/org/exportcenter.png" alt="Российский Экспортный Центр"></a></li>
            <li><a href="https://www.nifi.ru/ru/"><img src="./images/org/nifi.png" alt="НИФИ"></a></li>
            <li><a href="https://www.economy.gov.ru/"><img src="./images/org/economy.png" alt="Министерство Экономического развития РФ"></a></li>
            <li><a href="https://www.system-ko.ru/"><img src="./images/org/system-ko.png" alt="«Системные концессии»"></a></li>
            <li><a href="https://aemcx.ru/"><img src="./images/org/aemcx.png" alt="АгроЭкспорт"></a></li>
            <li><a href="http://grun.ru/"><img src="./images/org/grun.png" alt="Российский Зерновой Союз"></a></li>
            <li><a href="https://minpromtorg.gov.ru/"><img src="./images/org/minpromtorg.png" alt="МинпромТорг"></a></li>
            <li><a href="https://www.csr.ru/ru/"><img src="./images/org/csr.png" alt="ЦСР"></a></li>
            <li><a href="https://corpmsp.ru/"><img src="./images/org/corpmsp.png" alt="Корпорация МСП"></a></li>
            <li><a href="https://www.ranepa.ru/"><img src="./images/org/ranepa.png" alt="Ранхис"></a></li>
            <li><a href="https://xn--g1abnnjg.xn-- p1ai/"><img src="./images/org/turism.png" alt="АО «Корпорация Туризм.РФ»"></a></li>
        </ul>
        <h3>МЕЖДУНАРОДНЫЕ ПАРТНЕРЫ</h3>
        <ul class="-org-list">
            <li><a href="https://www.dikgazete.com/"><img src="./images/org/dikgazete.png" alt="dikgazete.com"></a></li>
            <li><a href="https://www.almayadeen.net/"><img src="./images/org/almayadeen.png" alt="Аль Маядин"></a></li>
        </ul>
        <h3>ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</h3>
        <ul class="-org-list">
            <li><a href="https://www.gosrf.ru/"><img src="./images/org/gosrf.png" alt="Регионы России"></a></li>
            <li><a href="https://www.infox.ru/"><img src="./images/org/infox.png" alt="Инфокс"></a></li>
            <li><a href="http://event-live.ru/"><img src="./images/org/event-live.png" alt="Евент лайф"></a></li>
            <li><a href="https://congresstime.ru/#"><img src="./images/org/congresstime.png" alt="CongressTime"></a></li>
            <li><a href="https://vsenovosti24.ru/"><img src="./images/org/vsenovosti24.png" alt="Российские Новости"></a></li>
            <li><a href="https://vmo24.ru/"><img src="./images/org/vmo24.png" alt="Вести Подмосковья"></a></li>
            <li><a href="https://live24.ru/"><img src="./images/org/live24.png" alt="live24"></a></li>
        </ul>
        <h3>РЕГИОНАЛЬНЫЕ ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ</h3>
        <ul class="-org-list">
            <li><a href="https://www.bashinform.ru/"><img src="./images/org/bashinform.png" alt="Башинформ"></a></li>
            <li><a href="https://www.rbc.ru/ufa/"><img src="./images/org/rbc.png" alt="РБК Уфа"></a></li>
            <li><a href="https://mkset.ru/"><img src="./images/org/mkset.png" alt="МК СЕТЬ"></a></li>
            <li><a href="https://gtrk.tv/"><img src="./images/org/gtrk.png" alt="ГТРК Россия 1"></a></li>
            <li><a href="http://www.sobaka.ru/ufa"><img src="./images/org/sobaka.png" alt="Собака Уфа"></a></li>
            <li><a href="https://bash.news/bst"><img src="./images/org/bash.png" alt="Телеканал БСТ"></a></li>
            <li><a href="https://ufa.aif.ru/"><img src="./images/org/aif.png" alt="Аргументы и Факты Уфа"></a></li>
        </ul>
    </div>
</div>