<div class="-outer -about -triangle -triangle-prev -bg-2">
    <div class="-triangle-shadow"></div>
    <div class="-inner">
        <h2 class="-big" style="--bg-1:url(../images/h/decor.png)">О&nbsp;ФОРУМЕ</h2>
        <div class="gr §">
            <div class="info">
                <p class="big">2-4 июня 2022 года в городе Сибае Республики Башкортостан состоится четвертый Всероссийский инвестиционный сабантуй «Зауралье-2022».</p>
                <p>Организаторами мероприятия выступают Агентство стратегических инициатив и Правительство Республики Башкортостан.</p>
                <p>Для участия в работе инвестсабантуя приглашены представители федеральных и региональных государственных учреждений, российского и зарубежного бизнеса, инвесторы, эксперты, известные государственные и общественные деятели.</p>
                <p>В ходе профильных секций и пленарного заседания участники обсудят актуальные вопросы привлечения инвестиций, повышения экспортной активности, развития моногородов, внутреннего туризма, цифровизации городской среды и экологии.</p>
            </div>
            <div class="pict §">
                <img src="./images/about/photo.jpg" alt="" loading="lazy">
            </div>
        </div>
    </div>
</div>