.-about {
    background: rgba(248, 252, 255, 1);
    @media (min-width: 640px) {
        background: url('../images/decor/welcome-decor-bg.png') left no-repeat, url('../images/decor/decor_welcome-right-bg.png') right no-repeat, rgba(248, 252, 255, 1);
    }
}

.-about .info {
    background: #FFFFFF;
    padding: 21px;
    border-radius: 10px;
    @media (min-width: 960px) {
        padding-bottom: 67px;
    }
}