.-program {
    position: relative;
    .-inner {
        margin-bottom: 40px;
    }
    & .tabs {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        margin: 0 -15px;
        margin-top: 45px;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        .tab {
            display: flex;
            width: 100%;
            background: rgb(255, 255, 255, .9);
            border: 1px solid #FFC000;
            box-sizing: border-box;
            cursor: pointer;
            padding: 10px;
            transition: .4s;
            margin: 0 15px;
            justify-content: center;
            align-items: center;
            position: relative;
            font-weight: 800;
            font-size: 18px;
            line-height: 18px;
            color: #FFC000;
            text-transform: uppercase;
            border-radius: 5px;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                margin-bottom: 0;
            }
            &::after {
                content: '';
                background-image: unset;
                @media (min-width: 576px) {
                    position: absolute;
                    width: 68px;
                    height: 23px;
                    object-fit: contain;
                    left: 13px;
                    background-image: url('../images/decor/zauralye_noactive.png');
                }
            }
            &_active {
                color: #000;
                background: url('../images/decor/button_decor.png') left bottom no-repeat, rgba(255, 192, 0, 1);
                @media (min-width: 576px) {
                    &::after {
                        content: '';
                        background-image: url('../images/decor/zauralye.png');
                    }
                }
                
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -14px;
                    left: 50%;
                    z-index: -1;
                    width: 16px;
                    height: 16px;
                    background-color: rgba(255, 192, 0, 1);
                    transform: rotate(45deg) translateX(-50%);
                }
            }
            &:hover {
                color: #000;
            }
        }
    }

    .tabs__content {
        display: none;
        margin-top: 30px;
        .full {
            background-color: #F2F2F2;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            padding: 10px;
            text-align: center;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .tablehead {
            background: #007F4F;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #FFFFFF;
            height: fit-content;
        }
        .tablehead__title {
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            @media (min-width: 576px) {
                font-size: 15px;
                line-height: 24px;
            }
            span {
                display: block;
            }
        }
        .tablehead__time {
            padding: 15px 0;
            position: relative;
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            max-width: 124px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: 576px) {
                font-size: 16px;
                line-height: 27px;
            }
        }
        .tablehead__border {
            border-left: 1px solid#FFFFFF;
        }
        .tablecell {
            border: 1px solid #000;
            border-top: 0;
        }
        .table__time {
            text-align: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            max-width: 124px;
            width: 100%;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 576px) {
                font-size: 16px;
                line-height: 27px;
            }
        }
        .table__text {
            text-align: left;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            border-left: 1px solid #000;
            padding: 10px 15px;
            @media (min-width: 768px) {
                text-align: center;
                font-size: 16px;
                line-height: 27px;
            }
            p {
                font-weight: 700;
                font-size: 15px;
                line-height: 24px;
                color: #007F4F;
                display: block;
                @media (min-width:768px) {
                    display: none;
                }
            }
            span {
                display: block;
                margin-top: 20px;
                font-style: italic;
                font-size: 11px;
                @media (min-width:768px) {
                    font-size: 15px;
                }
            }
        }
        .table__text_left {
            text-align: left;
            border-bottom: 1px solid #000;
            &:last-child {
                border-bottom: unset;
            }
            @media (min-width: 768px) {
                border-bottom: unset;
            }
        }
    }   
    .tabs__content_active {
        display: block;
    }
}
.-program .bgparalax {
    left: 0;
    top: 0;
    height: 100%;
    right: 0;
    object-fit: cover;
    position: absolute;
    z-index: -2;
}
.-program .bt {
    background: #00a8ff url(../images/decor/button_decor.png) bottom left no-repeat;
    border-radius: 5px;
    padding: 18px 25px 15px;
    max-width: 229px;
    width: 100%;
    color: #FFFFFF;
}

.-program .tablecell .col-xl p {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #007F4F;
    display: block;
    @media (min-width:1200px) {
        display: none;
    }
}

.-program .col-xl {
    text-align: left;
    // border-bottom: 1px solid #000 !important;
    &:last-child {
        border-bottom: unset;
    }
    @media (min-width: 1200px) {
        border-bottom: unset;
    }
}
.-program .col-xl.table__text_left {
    text-align: left;
    border-bottom: 1px solid #000;
    &:last-child {
        border-bottom: unset;
    }
    @media (min-width: 1200px) {
        border-bottom: unset;
    }
}