<div class="-outer -program -triangle -triangle-prev">
    <img src="./images/decor/background-program.png" alt="Фон" loading="lazy" class="bgparalax">
    <div class="-triangle-shadow"></div>
        <div class="-inner">
            <h2 class="-big" style="--bg-1:url(../images/h/decor.png)">ДЕЛОВАЯ ПРАКТИКА</h2>
                    //- img.img-fluid.schedule__image(src="./images/bashneft-left-logo.png" alt="Логотип Башнефти")
            .tabs
                div(data-day='1').tab.tab_active 2 июня 2022 г.
                div(data-day='2').tab 3 июня 2022 г.
            .tabs__content.tabs__content_active#1
                .col.full Финал регионального этапа Кубка Global Management Challenge
                .row.tablehead
                    .col.col-md-1.tablehead__time ВРЕМЯ
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Зал «Сибай»
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Зал заседаний «Зауралье»
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Шатер С <br>Официальные делегации
                    .col-10.d-md-none.tablehead__title.tablehead__border Место проведения /&nbsp;Мероприятие
                .row.tablecell
                    .col.col-md-1.table__time 08.00
                    .col-10.col-md.table__text Регистрация участников
                .row.tablecell
                    .col.col-md-1.table__time 09.30
                    .col-10.col-md.table__text Торжественное открытие Первого межрегионального форума бизнес-шерифов
                .row.tablecell
                    .col.col-md-1.table__time 10.00-11.30
                    .col-10.col-md
                        .row
                            .col-md.row.table__text.table__text_left
                                p Зал «Сибай»
                                | Институт бизнес-шерифов как эффективный инструмент развития экономики. 
                                span Орг.: Агентство стратегических инициатив, Министерство предпринимательства и туризма Республики Башкортостан
                            .col-md.row.table__text.table__text_left
                                p Зал заседаний «Зауралье»
                                | Заседание Совета Торгово-промышленной палаты Российской Федерации по финансово-промышленной и инвестиционной политике на тему «Развитие региональных финансовых систем и инструментов финансирования бизнеса».
                                span Орг.: Торгово-промышленная палата Российской Федерации
                            .col-md.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Рабочее совещание ОАО «МАЗ» и ОАО«БЕЛАЗ» (Республика Беларусь) с предприятиями Республики Башкортостан.
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Республике Беларусь
                .row.tablecell
                    .col.col-md-1.table__time 11.30-12.00
                    .col-10.col-md.table__text Кофе-брейк
                .row.tablecell
                    .col.col-md-1.table__time 12.00-13.30
                    .col-10.col-md
                        .row
                            .col-md.row.table__text.table__text_left 
                                p Зал «Сибай»
                                | Бизнес-шерифы: от мер поддержки – к экспорту.
                                span Орг.: Российский экспортный центр, Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Центр поддержки экспорта Республики Башкортостан
                            .col-md.row.table__text.table__text_left 
                                p Зал заседаний «Зауралье»
                                | Заседание Совета Торгово-промышленной палаты Российской Федерации по финансово-промышленной и инвестиционной политике на тему «Развитие региональных финансовых систем и инструментов финансирования бизнеса».
                            .col-md.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Заседание рабочей группы Башкортостан – Казахстан
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Республике Казахстан
                .row.tablecell
                    .col.col-md-1.table__time 13.30-14.30
                    .col-10.col-md.table__text ОБЕД
                .row.tablecell
                    .col.col-md-1.table__time 14.30-16.00
                    .col-10.col-md
                        .row
                            .col-md.row.table__text.table__text_left 
                                p Зал «Сибай»
                                | Экспертная сессия на тему развития семейного предпринимательства «Успешная семья – успешная Россия».
                                span Орг.: Торгово-промышленная палата Российской Федерации
                            .col-md.row.table__text.table__text_left 
                                p Зал заседаний «Зауралье»
                                | Заседание Общественного Совета по экологии и природопользованию при Главе Республики Башкортостан
                                span Орг.: Российское экологическое общество
                            .col-md.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Кооперация как драйвер развития предпринимательства
                                span Орг.: Министерство торговли и услуг Республики Башкортостан
                .row.tablecell
                    .col.col-md-1.table__time 16.00-16.30
                    .col-10.col-md.table__text Пресс-подход/ подписание соглашений
                .row.tablecell
                    .col.col-md-1.table__time 18.00
                    .col-10.col-md.table__text УЖИН
            .tabs__content#2
                .row.tablehead
                    .col.col-xl-1.tablehead__time ВРЕМЯ
                    .d-none.d-xl-flex.col-xl.tablehead__title.tablehead__border Шатер А <br>Новая экономическая реальность
                    .d-none.d-xl-flex.col-xl.tablehead__title.tablehead__border Зал «Сибай»
                    .d-none.d-xl-flex.col-xl.tablehead__title.tablehead__border Зал заседаний «Зауралье»
                    .d-none.d-xl-flex.col-xl.tablehead__title.tablehead__border Шатер В <br>Новые рынки и экспорт
                    .d-none.d-xl-flex.col-xl.tablehead__title.tablehead__border Шатер С <br>Официальные делегации
                    .col-10.d-xl-none.tablehead__title.tablehead__border Место проведения /&nbsp;Мероприятие
                .row.tablecell
                    .col.col-md-1.table__time 09.00
                    .col-10.col-md.table__text Регистрация участников
                .row.tablecell
                    .col.col-md-1.table__time 10.00
                    .col-10.col-md.table__text Торжественное открытие Всероссийского инвестиционного сабантуя «Зауралье-2022»
                .row.tablecell
                    .col.col-md-1.table__time 09.30-11.00
                    .col-10.col-md
                        .row
                            .col-xl.row.table__text.table__text_left
                                p Шатер А <br>Новая экономическая реальность
                                | Выездное заседание экспертного совета Государственной Думы РФ по устойчивому развитию и «зеленому» финансированию.
                                span Орг.: Экспертный совет ГД РФ, Министерство экономического развития и инвестиционной политики Республики Башкортостан
                            .col-xl.row.table__text.table__text_left
                                p Зал «Сибай»
                                | Презентация программы социально-экономического развития Зауралья. Основа энергообеспечения. 
                                span Орг.: Орг.: Министерство экономического развития и инвестиционной политики Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Зал заседаний «Зауралье»
                                | Межведомственная рабочая группа УГМК и Республики Башкортостан.
                                span Орг.: Министерство промышленности, энергетики и инноваций Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Шатер В <br>Новые рынки и экспорт
                                | Глобальные ограничения как возможность развития Регионального туризма. Современные соцмедиа для бизнеса и туризма.
                                span Орг.: Министерство предпринимательства и туризма Республики Башкортостан, АНО «Центр развития туризма РБ»
                            .col-xl.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | «Развитие механизма ОРВ на муниципальном уровне, проблемы и перспективы развития».
                                span Орг.: Министерство экономического развития и инвестиционной политики Республики Башкортостан
                .row.tablecell
                    .col.col-md-1.table__time 11.00-12.30
                    .col-10.col-md.table__text Кофе-брейк
                .row.tablecell
                    .col.col-md-1.table__time 12.30-14.00
                    .col-10.col-md
                        .row
                            .col-xl.row.table__text.table__text_left 
                                p Шатер А <br>Новая экономическая реальность
                                | Образ России в условиях дискредитации делового партнёра. 
                                span Орг.: Совет молодых дипломатов МИД РФ
                            .col-xl.row.table__text.table__text_left 
                                p Зал «Сибай»
                                | Капитальные вложения и новые инфраструктурные решения туризма России. 
                                span Орг.: Министерство строительства и жилищнокоммунального хозяйства Российской Федера ции, ГК «Туризм», Министерство предпринимательства и туризма Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Зал заседаний «Зауралье»
                                | Рабочее совещание Республики Башкортостан с АФК «СИСТЕМА» 
                                span Орг.: Министерство промышленности, энергетики и инноваций Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Шатер В <br>Новые рынки и экспорт
                                | PRO EXPORT: путь на диверсификацию
                                span Орг.: Российский экспортный центр, Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Центр поддержки экспорта Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Российско-турецкие деловые связи в условиях меняющегося мира: взгляд из сердца Евразии. 
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Турецкой Республике
                .row.tablecell
                    .col.col-md-1.table__time 14.00-15.00
                    .col-10.col-md.table__text ОБЕД
                .row.tablecell
                    .col.col-md-1.table__time 15.00-16.30
                    .col-10.col-md
                        .row
                            .col-xl.row.table__text.table__text_left 
                                p Шатер А <br>Новая экономическая реальность
                                | Реализация комплексного инвестиционного проекта «Евразийский экономический центр»
                                span Орг.: НИФИ, Министерство экономического развития и инвестиционной политики Республики Башкортостан, Министерство экономического развития РФ
                            .col-xl.row.table__text.table__text_left 
                                p Зал «Сибай»
                                | Новые подходы к развитию ГЧП. Концессионные инструменты для опережающего развития территорий. 
                                span Орг.: Министерство экономического развития РФ, ООО «Системные концессии»
                            .col-xl.row.table__text.table__text_left 
                                p Зал заседаний «Зауралье»
                                | Заседание Инвестиционного комитета Республики Башкортостан в формате «Инвестиционный час»
                                span Орг.: Министерство экономического развития и инвестиционной политики Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Шатер В <br>Новые рынки и экспорт
                                | АПК: от поля до мирового прилавка
                                span Орг.: РЭЦ – АгроЭкспорт, Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Центр поддержки экспорта Республики Башкортостан
                            .col-xl.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Формирование промышленного потенциала Башкортостана путем кластеризации новых отраслей в рамках механизмов государственной поддержки.
                                span Орг.: Центр стратегических разработок
                .row.tablecell
                    .col.col-md-1.table__time 16.30-17.00
                    .col-10.col-md.table__text Кофе-брейк
                .row.tablecell
                    .col.col-md-1.table__time 17.00-19.00
                    .col-10.col-md.table__text Пленарное заседание «AntiSanction REGIONS: новая экономическая реальность»
                .row.tablecell
                    .col.col-md-1.table__time 19.30-21.30
                    .col-10.col-md.table__text Торжественный прием от имени Главы Республики Башкортостан Награждение почетными грамотами и благодарностями Правительства РБ крупных инвесторов РБ
        </div>
        <p class="-center §2"><a href="#" class="bt">Скачать программу</a></p>
</div>