<div class="-outer -program -triangle -triangle-prev">
    <img src="./images/decor/background-program.png" alt="Фон" loading="lazy" class="bgparalax">
    <div class="-triangle-shadow"></div>
        <div class="-inner">
            <h2 class="-big" style="--bg-1:url(../images/h/decor.png)">ДЕЛОВАЯ ПРАКТИКА</h2>
                    //- img.img-fluid.schedule__image(src="./images/bashneft-left-logo.png" alt="Логотип Башнефти")
            .tabs
                div(data-day='1').tab.tab_active 2 июня 2022 г.
                div(data-day='2').tab 3 июня 2022 г.
            .tabs__content.tabs__content_active#1
                .col.full Финал регионального этапа Кубка Global Management Challenge
                .row.tablehead
                    .col.col-md-1.tablehead__time ВРЕМЯ
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Зал «Сибай»
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Зал заседаний «Зауралье»
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Шатер С <br>Официальные делегации
                    .col-8.d-md-none.tablehead__title.tablehead__border Место проведения /&nbsp;Мероприятие
                .row.tablecell
                    .col.col-md-1.table__time 08.00
                    .col-8.col-md.table__text Регистрация участников
                .row.tablecell
                    .col.col-md-1.table__time 09.30
                    .col-8.col-md.table__text Торжественное открытие Первого межрегионального форума бизнес-шерифов
                .row.tablecell
                    .col.col-md-1.table__time 10.00-11.30
                    .col-8.col-md
                        .row
                            .col-md.row.table__text.table__text_left
                                p Зал «Сибай»
                                | Институт бизнес-шерифов как эффективный инструмент развития экономики. 
                                span Орг.: Агентство стратегических инициатив, Министерство предпринимательства и туризма Республики Башкортостан
                            .col-md.row.table__text.table__text_left
                                p Зал заседаний «Зауралье»
                                | Заседание Совета Торгово-промышленной палаты Российской Федерации по финансово-промышленной и инвестиционной политике на тему «Развитие региональных финансовых систем и инструментов финансирования бизнеса».
                                span Орг.: Торгово-промышленная палата Российской Федерации
                            .col-md.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Рабочее совещание ОАО «МАЗ» и ОАО«БЕЛАЗ» (Республика Беларусь) с предприятиями Республики Башкортостан.
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Республике Беларусь
                .row.tablecell
                    .col.col-md-1.table__time 11.30-12.00
                    .col-8.col-md.table__text Кофе-брейк
                .row.tablecell
                    .col.col-md-1.table__time 12.00-13.30
                    .col-8.col-md
                        .row
                            .col-md.row.table__text.table__text_left Бизнес-шерифы: от мер поддержки – к экспорту.
                                span Орг.: Российский экспортный центр, Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Центр поддержки экспорта Республики Башкортостан
                            .col-md.row.table__text.table__text_left Заседание Совета Торгово-промышленной палаты Российской Федерации по финансово-промышленной и инвестиционной политике на тему «Развитие региональных финансовых систем и инструментов финансирования бизнеса».
                            .col-md.row.table__text.table__text_left Заседание рабочей группы Башкортостан – Казахстан
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Республике Казахстан
                .row.tablecell
                    .col.col-md-1.table__time 13.30-14.30
                    .col-8.col-md.table__text ОБЕД
                .row.tablecell
                    .col.col-md-1.table__time 14.30-16.00
                    .col-8.col-md
                        .row
                            .col-md.row.table__text.table__text_left Экспертная сессия на тему развития семейного предпринимательства «Успешная семья – успешная Россия».
                                span Орг.: Торгово-промышленная палата Российской Федерации
                            .col-md.row.table__text.table__text_left Заседание Общественного Совета по экологии и природопользованию при Главе Республики Башкортостан
                                span Орг.: Российское экологическое общество
                            .col-md.row.table__text.table__text_left Кооперация как драйвер развития предпринимательства
                                span Орг.: Министерство торговли и услуг Республики Башкортостан
                .row.tablecell
                    .col.col-md-1.table__time 16.00-16.30
                    .col-8.col-md.table__text Пресс-подход/ подписание соглашений
                .row.tablecell
                    .col.col-md-1.table__time 18.00
                    .col-8.col-md.table__text УЖИН
            .tabs__content#2
                .col.full Финал регионального этапа Кубка Global Management Challenge1
                .row.tablehead
                    .col-1.tablehead__time ВРЕМЯ
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Зал «Сибай»
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Зал заседаний «Зауралье»
                    .d-none.d-md-flex.col-md.tablehead__title.tablehead__border Шатер С <br>Официальные делегации
                    .col.d-md-none.tablehead__title.tablehead__border Место проведения /&nbsp;Мероприятие
                .row.tablecell
                    .col.col-md-1.table__time 08.00
                    .col-8.col-md.table__text Регистрация участников
                .row.tablecell
                    .col.col-md-1.table__time 09.30
                    .col-8.col-md.table__text Торжественное открытие Первого межрегионального форума бизнес-шерифов
                .row.tablecell
                    .col.col-md-1.table__time 10.00-11.30
                    .col-8.col-md
                        .row
                            .col-md.row.table__text.table__text_left
                                p Зал «Сибай»
                                | Институт бизнес-шерифов как эффективный инструмент развития экономики. 
                                span Орг.: Агентство стратегических инициатив, Министерство предпринимательства и туризма Республики Башкортостан
                            .col-md.row.table__text.table__text_left
                                p Зал заседаний «Зауралье»
                                | Заседание Совета Торгово-промышленной палаты Российской Федерации по финансово-промышленной и инвестиционной политике на тему «Развитие региональных финансовых систем и инструментов финансирования бизнеса».
                                span Орг.: Торгово-промышленная палата Российской Федерации
                            .col-md.row.table__text.table__text_left 
                                p Шатер С <br>Официальные делегации
                                | Рабочее совещание ОАО «МАЗ» и ОАО«БЕЛАЗ» (Республика Беларусь) с предприятиями Республики Башкортостан.
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Республике Беларусь
                .row.tablecell
                    .col.col-md-1.table__time 11.30-12.00
                    .col-8.col-md.table__text Кофе-брейк
                .row.tablecell
                    .col.col-md-1.table__time 12.00-13.30
                    .col-8.col-md
                        .row
                            .col-md.row.table__text.table__text_left Бизнес-шерифы: от мер поддержки – к экспорту.
                                span Орг.: Российский экспортный центр, Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Центр поддержки экспорта Республики Башкортостан
                            .col-md.row.table__text.table__text_left Заседание Совета Торгово-промышленной палаты Российской Федерации по финансово-промышленной и инвестиционной политике на тему «Развитие региональных финансовых систем и инструментов финансирования бизнеса».
                            .col-md.row.table__text.table__text_left Заседание рабочей группы Башкортостан – Казахстан
                                span Орг.: Министерство внешнеэкономических связей и конгрессной деятельности Республики Башкортостан, Представительство АНО Конгресс-бюро Башкортостана «Офис-группа» в Республике Казахстан
                .row.tablecell
                    .col.col-md-1.table__time 13.30-14.30
                    .col-8.col-md.table__text ОБЕД
                .row.tablecell
                    .col.col-md-1.table__time 14.30-16.00
                    .col-8.col-md
                        .row
                            .col-md.row.table__text.table__text_left Экспертная сессия на тему развития семейного предпринимательства «Успешная семья – успешная Россия».
                                span Орг.: Торгово-промышленная палата Российской Федерации
                            .col-md.row.table__text.table__text_left Заседание Общественного Совета по экологии и природопользованию при Главе Республики Башкортостан
                                span Орг.: Российское экологическое общество
                            .col-md.row.table__text.table__text_left Кооперация как драйвер развития предпринимательства
                                span Орг.: Министерство торговли и услуг Республики Башкортостан
                .row.tablecell
                    .col.col-md-1.table__time 16.00-16.30
                    .col-8.col-md.table__text Пресс-подход/ подписание соглашений
                .row.tablecell
                    .col.col-md-1.table__time 18.00
                    .col-8.col-md.table__text УЖИН
        </div>
        <p class="-center §2"><a href="#" class="bt">Скачать программу</a></p>
</div>