.-who-goes {
  background: rgba(248, 252, 255, 1);
  position: relative;
//   background-size: cover;
}
.-who-goes .bgparalax {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.-who-goes .bg
{ background: #008545;
  padding: 24px; 
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 714px) {
  .-who-goes .bg {
    background: url('../images/decor/decor_left.png') left bottom no-repeat, url('../images/decor/decor_right.png') right bottom no-repeat, #008545;
  }
}

.-who-goes .bg > * + .prof
{ max-width: 70%; text-align: center; }
