<div class="-outer -who-goes -triangle -triangle-prev -bg-4">
    <div class="-triangle-shadow"></div>
    <div class="-inner">  	  
        <div class="person" id="bx_3218110189_3382">
            <div class="bg">
                <h3>Светлана Чупшева</h3>
                <p class="prof">Генеральный директор Агентства стратегических инициатив о форуме «Зауралье-2019»:</p>
            </div>
            <p class="quote">«<b>Я уверена, что&nbsp;эта площадка станет для&nbsp;нас ежегодной.</b> Мы&nbsp;сможем встречаться, обсуждать проблемы, возможности, перспективы, для&nbsp;того чтобы жизнь в&nbsp;Сибае и&nbsp;других городах Башкортостана и&nbsp;страны становилась лучше. Уверена, что площадка станет диалогом для&nbsp;власти, бизнеса, общества и&nbsp;некоммерческого сектора. Только вместе возможно решать глобальные амбициозные задачи».</p>
            <div class="pict">
                <img src="./images/who-goes/svetlana-chupsheva.jpg" alt="Светлана Чупшева" loading="lazy">
            </div>
        </div>
        <div class="person ver-2 §" id="bx_3218110189_3383">
            <div class="bg">
                <h3>Радий Хабиров</h3>
                <p class="prof">Глава Республики Башкортостан</p>
            </div>
            <p class="quote">«<b>Цель и задача простые:</b> мы&nbsp;хотим дать энергию и&nbsp;дальше работать по&nbsp;развитию экономики Зауралья. Сейчас важно переходить в&nbsp;плоскость реальных дел. Начало неплохое. Состав участников и&nbsp;темы, которые обсуждались, претендуют на&nbsp;то, чтобы наш зауральский форум назывался всероссийским инвестиционным».</p>
            <div class="pict">
                <img src="./images/who-goes/radiy-habirov.jpg" alt="Радий Хабиров" loading="lazy">
            </div>
        </div>
    </div>
</div>