<div class="-outer -menu">
    <div class="-inner">
        <div class="sect" style="position:relative;">
            <div class="logo">
                <a href="/"><img src="./images/logo/dark-mkk.svg" alt="МКК" /></a>
                <button onclick='this.closest(".-menu").classList.toggle ("is-active")'><img src="./images/icon/burger.svg" alt="Меню" /></button>
            </div>
            <address>
                <ul>
                    <li>
                        <!-- BEGIN SECTION 1-->
                        <a><img src="./images/icon/addr/dark-marker.svg" alt="" /> МО, г.&nbsp;Долгопрудный, Транспортный проезд, д.&nbsp;5</a>
                        <!-- END SECTION 1-->
                    </li>
                    <li>
                        <!-- BEGIN SECTION 1-->
                        <a href="tel:+74959025242"><img src="./images/icon/addr/dark-phone.svg" alt="" />+7 (495) 902 52 42</a>
                        <!-- END SECTION 1-->
                    </li>
                    <li>
                        <!-- BEGIN SECTION 1-->
                        <a href="mailto:granit@oaomkk.ru"><img src="./images/icon/addr/dark-email.svg" alt="" />granit@oaomkk.ru</a>
                    </li>
                    <li>
                        <button class="like">
                            span 1
                        </button>
                        <button class="compare">
                            span 3
                        </button>
                    </li>
                    <li>
                        <h2><button data-modal="CALLBACK_ME">Заказать звонок</button></h2>
                    </li>
                </ul>
            </address>

            <!-- BEGIN SECTION TOPMENU-->

            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="/about/">О КОМПАНИИ <span class="arrow-down"><img src="./images/icon/darr.png" alt="" /></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="/about/"><span>О компании</span></a>
                            </li>

                            <li>
                                <a href="/equipment/"><span>Оборудование</span></a>
                            </li>

                            <li>
                                <a href="/awards/"><span>Дипломы и награды</span></a>
                            </li>

                            <li>
                                <a href="/vacancy/"><span>Вакансии</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/catalog/">КАТАЛОГ КАМНЯ <span class="arrow-down"><img src="./images/icon/darr.png" alt="" /></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="/catalog/granit/"><span>Гранит</span></a>
                            </li>

                            <li>
                                <a href="/catalog/mramor/"><span>Мрамор</span></a>
                            </li>

                            <li>
                                <a href="/catalog/oniks/"><span>Оникс</span></a>
                            </li>

                            <li>
                                <a href="/catalog/travertin/"><span>Травертин</span></a>
                            </li>

                            <li>
                                <a href="/catalog/kvartsit/"><span>Кварцит</span></a>
                            </li>

                            <li>
                                <a href="/catalog/izvestnyak/"><span>Известняк</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="/services/"><span>УСЛУГИ</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="/product/">ПРОДУКЦИЯ <span class="arrow-down"><img src="./images/icon/darr.png" alt="" /></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="/product/vneshnyaya-otdelka/"><span>Натуральный камень для внешней отделки</span></a>
                            </li>

                            <li>
                                <a href="/product/vnutrennyaya-otdelka/"><span>Внутренняя отделка натуральным камнем</span></a>
                            </li>

                            <li>
                                <a href="/product/syre-i-polufabrikat/"><span>Сырье и полуфабрикат</span></a>
                            </li>

                            <li>
                                <a href="/product/landshaftnyy-dizayn/"><span>Ландшафтный дизайн</span></a>
                            </li>

                            <li>
                                <a href="/product/khramy/"><span>Храмы</span></a>
                            </li>

                            <li>
                                <a href="/product/arkhitekturno-stroitelnye-izdeliya/"><span>Архитектурно-строительные изделия</span></a>
                            </li>

                            <li>
                                <a href="/product/ritualnaya-produktsiya/"><span>Ритуальная продукция</span></a>
                            </li>

                            <li>
                                <a href="/product/slozhnye-elementy/"><span>Сложные элементы</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="/objects/"><span>ОБЪЕКТЫ</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="/news/">ПРЕСС-ЦЕНТР <span class="arrow-down"><img src="./images/icon/darr.png" alt="" /></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="/news/"><span>Новости</span></a>
                            </li>

                            <li>
                                <a href="/articles/"><span>Статьи</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="/contacts/"><span>КОНТАКТЫ</span></a>
                    </li>
                </ul>
            </nav>

            <!-- END SECTION TOPMENU-->
            a(href="#" style="").header__button 
                .header__button__container Изделия в наличии
        </div>
    </div>
    
</div>
