<div class="-outer §4 -footline -bg-11" style="--bg-1:url(../images/decor/decor.svg)">
    <a href="/news/">Следите за новостями</a>
</div>
<div class="-outer -foot">
    <div class="-inner">
        <div class="gr">
            <div class="logo">
                <a href="/">
                    <img src="./images/logo/transurals-f.svg" alt="Лого" loading="lazy">
                </a>
            </div>

            <div class="info">
                <a href="tel:+78002342702">+7 (800) 234-27-02</a> 
                <a href="mailto:info@forum-zauralye.com">info@forum-zauralye.com</a>
            </div>
        </div>
        <div class="copy">Использование материалов, размещенных на сайте, допускается только с письменного разрешения. Запрещается автоматизированное извлечение размещенной информации любыми сервисами без официального разрешения.</div>
    </div>
</div>