/* Imports */

// @font-face
// { font-family: "Gilroy";
//   src: url("/fonts/Gilroy.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap; }


// @font-face
// { font-family: "Gilroy";
//   src: url("/fonts/GilroyBold.woff2") format("woff2");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap; }


// @font-face
// { font-family: "Gilroy";
//   src: url("/fonts/GilroyExtrabold.woff2") format("woff2");
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap; }


/*
100  Thin (Hairline)
200  Extra Light (Ultra Light)
300  Light
400  Normal (Regular)
500  Medium
600  Semi Bold (Demi Bold)
700  Bold
800  Extra Bold (Ultra Bold)
900  Black (Heavy)
950  Extra Black (Ultra Black)
*/



/* Reset and defaults */

:root
{ --baseline: 24px;
  --quarter: calc(var(--baseline) / 4);
  --half: calc(var(--baseline) / 2);
  --double: calc(var(--baseline) * 2);
  --triple: calc(var(--baseline) * 3);
  --quadruple: calc(var(--baseline) * 4);
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif; }


html
{ box-sizing: border-box; }


body
{ word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
  cursor: default; }


*, *:before, *:after
{ box-sizing: inherit;
  margin: 0;
  padding: 0; }


body, button, input, select, table, textarea
{ font-family: "Gilroy", var(--system-font);
  font-size: 16px; }


body, table, textarea
{ line-height: 1.5; }


h1, h2, h3, h4, h5, h6
{ font-weight: normal;
  font-size: 1.5rem;
  line-height: 1; }


a:link, a:visited
{ text-decoration: none;
  color: var(--link-color, currentColor); }


a:hover, a:focus
{ text-decoration: underline; }


b, strong
{ font-weight: bolder; }


*+h1, *+h2, *+h3, *+h4, *+h5, *+h6, *+.§§
{ margin-top: var(--double); }


h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6,
h2+h2, h2+h3, h2+h4, h2+h5, h2+h6,
h3+h3, h3+h4, h3+h5, h3+h6,
h4+h4, h4+h5, h4+h6,
h5+h5, h5+h6,
*+p, *+.§,
*+ol, *+ul, *+dl,
*+table, *+figure, *+details,
*+form, *+hr, *+pre, *+address, *+blockquote,
*+iframe
{ margin-top: var(--baseline); }


.∨ + *, * + .∧
{ margin-top: 0; }


img, svg, canvas, audio, video, input, button, select, table, textarea
{ max-width: 100%; }


button
{ user-select: none; }


sub, sup
{ font-size: 75%;
  position: relative;
  vertical-align: baseline; }


sub
{ bottom: -0.25em; }


sup
{ top: -0.5em; }


sub, sup,
button, input,
small, code, kbd, samp
{ line-height: 1; }


hr
{ border: none;
  border-top: solid 1px;
  --margin-top: -1px; }


table
{ border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }


caption
{ padding: var(--half); }


ol, ul
{ list-style-position: inside;
  padding: 0; }


dd, li li
{ margin-left: var(--l); }


dd+dt
{ margin-top: var(--half); }


progress
{ width:100%; }


main,
header,
section
{ display: block; }


address
{ font-style: normal; }


:not(.∨) + .§¼ { margin-top: var(--quarter); }
:not(.∨) + .§½ { margin-top: var(--half); }
:not(.∨) + .§2 { margin-top: var(--double); }
:not(.∨) + .§3 { margin-top: var(--triple); }
:not(.∨) + .§4 { margin-top: var(--quadruple); }



/*** ** ** ** ***/

[type=number]::-webkit-outer-spin-button,
[type=number]::-webkit-inner-spin-button
{ -webkit-appearance: none;
  appearance: none;
  margin: 0; }


[type=number]
{ -moz-appearance: textfield; }



/* Dialog */

dialog:not([open])
{ display: none; }


dialog.-modal
{ flex-direction: column;
  overflow: hidden;
  border: none;
  width: 640px;
  max-width: 100vw;
  max-height: 100vh;
  scrollbar-width: thin;
  background-color: #fff;
  color: #222;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }


dialog.-modal[open]
{ display: flex; }


dialog.-modal::backdrop
{ background: rgba(0,0,0,0.6); }


dialog.-modal.is-covered
{ opacity: 0; }


dialog.-modal.is-covered::backdrop
{ background: rgba(0,0,0,0); }


dialog + .backdrop
{ position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6); }


._dialog_overlay
{ position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }


dialog.-modal > section
{ overflow: auto;
  scrollbar-width: thin;
  color: inherit;
  outline: none;
  max-height: 75vh; }


dialog.-modal > section:focus
{ box-shadow: 0 0 0 1px inset #0001; }


@supports not (scrollbar-width: thin)
{
dialog::-webkit-scrollbar,
dialog ::-webkit-scrollbar
{ width: 6px;
  height: 6px; }


dialog::-webkit-scrollbar-thumb,
dialog ::-webkit-scrollbar-thumb
{ background-color: #ccc;
  border-radius: 9px; }


dialog::-webkit-scrollbar-corner,
dialog ::-webkit-scrollbar-corner
{ display: none; }
}


@media (prefers-reduced-motion: no-preference)
{
dialog.-modal[open]
{ animation: appear 300ms; }


@keyframes appear
{
from
{ transform: translate(-50%, -50%) scale(0.9);
  opacity: 0; }
}
}



/* Dialog types */

.-modal.is-standart
{ width: 640px; }


.-modal.is-standart header,
.-modal.is-standart section
{ padding: 12px; }


@media (min-width: 420px)
{
.-modal.is-standart header,
.-modal.is-standart section
{ padding: 24px; }
}


.-modal.is-standart header
{ background-color: #e7ffe7 }


.-modal.is-standart header button
{ background: none;
  color: #232f4f;
  border: none;
  border-radius: 0;
  font-size: 48px;
  line-height: 24px;  float: right;
  cursor: pointer;
  padding: 0;
  margin-left: 12px; }


.-modal.is-standart header button + *
{ margin-top: 0; }


.-modal.is-standart header button:focus,
.-modal.is-standart header button:hover
{ outline: none; }


.-modal.is-standart header p
{ font-weight: bolder;
  font-size: 24px;
  line-height: 1;
  color: #232f4f; }


.-modal.is-standart section button[data-close]
{ background: #009874;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 6px 12px; }



/* Forms */

form.is-callback.-js-form.form__container  input[type="file"],
form.is-callback.-js-form.form__container  input[type="email"],
form.is-callback.-js-form.form__container  input[type="tel"],
form.is-callback.-js-form.form__container  input[type="text"]
{
	border-color: #d3dae4 !important;
}
form.is-callback.-js-form.form__container
{
	display: block;
	flex-wrap: initial;
	gap: 0px;
}

form.is-callback
{ display: flex;
  flex-wrap: wrap;
  gap: 12px; }


form.is-callback input[disabled]
{ opacity: 0.5; }


form.is-callback input[type="text"],
form.is-callback input[type="tel"],
form.is-callback input[type="email"],
form.is-callback input[type="submit"],
form.is-callback .-upload,
form.is-callback > .info
{ flex: 1 1 100%;
  min-width: 0;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  cursor: pointer; }


form.is-callback input[type="text"],
form.is-callback input[type="tel"],
form.is-callback input[type="email"],
form.is-callback .-upload
{ border: 1px solid #666;
  background: #fff;
  color: #000; }


form.is-callback input[type="submit"]
{ border: 1px solid transparent;
  background: linear-gradient(-45deg, #027049, #00953f);
  color: #fff;
  font-weight: bolder; }


form.is-callback input[type="file"]
{ opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

form.is-callback .-upload
{ position: relative;
  --baseline: 6px ; }

/* form.is-callback .-upload:focus-within
{  } */

form.is-callback .-upload .fl
{ display: flex;
  flex-wrap: wrap;
  gap: 24px; }


form.is-callback .-upload .fl >.info
{ min-width: 0;
  flex: 1000000 1 240px;
  font-size: 14px;
  line-height: 1.2;
  color: #999; }


form.is-callback .-upload .fl >.pict
{ min-width: 0;
  flex: 1 1 85px; }


form.is-callback .-upload .fl >.pict img
{ display: block; }


form.is-callback .info
{ --baseline: 12px;
  font-size: 14px;
  line-height: 1.2;
  color: #232f4f;
  cursor: default; }


form.is-callback .info a
{ display: inline-block;
  font-weight: bolder; }





/* Common */

h1, h2, h3, h4, h5, h6
{ font-weight: bolder; }


@media (min-width: 720px)
{
h1
{ font-size: var(--font-size, 2rem); } /*2*/

h2, h3, h4, h5, h6
{ font-size: var(--font-size, 2rem); } /*1.5*/

.-fs
{ font-size: var(--font-size, 1em); }

.-lh
{ line-height: var(--line-height, 1.5); }
}


body
{ display: flex;
  flex-direction: column;
  min-height: 100vh; }


.-outer
{ padding-left: 12px;
  padding-right: 12px; }


.-inner
{ max-width: 1270px;
  margin-left: auto;
  margin-right: auto; }


.-spacer
{ margin: auto; }


.-center
{ text-align: center; }


.-clrfix::after
{ content: '';
  clear: both;
  display: table; }


[class*='-scroll-locked']
{ overflow: hidden; }


.-column > *
{ page-break-inside: avoid;
  break-inside: avoid-column; }


.-two
{ display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px 24px; }


.-two > *
{ margin-top: 0; }


.-is-anchor
{ position: relative; }


.-is-anchor > [id]
{ position: absolute;
  top: 0;
  transform: translateY(-144px); }



/*** ** ** ** ***/

.-bt-1
{ display: flex;
  flex-wrap: wrap; }


.-bt-1 a,
.-bt-1 button
{ padding: 14px 12px;
  background: linear-gradient(180deg, #ffc600, #ff9600);
  clip-path: polygon(6px 6px,  100% 0,  calc(100% - 6px) calc(100% - 6px),  0% 100%);
  color: #fff;
  font-weight: bolder;
  text-align: center;
  max-width: 100%;
  min-width: 0;
  width: 220px;
  border: none; }


.-bt-1 a:focus,
.-bt-1 a:hover,
.-bt-1 button:focus,
.-bt-1 button:hover
{ outline: none;
  cursor: pointer;
  color: #000;
  text-decoration: underline; }



/*** ** ** ** ***/

h1, h2, h3, h4, h5, h6
{ color: #232f4f; }


.-navi ul,
.-org-list,
.-speaker-list
{ list-style-type: none; }


h2.-big
{ --font-size: 54px;
  font-weight: bolder;

  text-align: center;
  display: flex; }


h2.-big::after,
h2.-big::before
{ content: '';
  flex: 1 1 auto;
  min-width: 0;
  background: var(--bg-1, none) no-repeat;
  background-size: auto 100%; }
  

h2.-big::before
{ background-position: right 24px center; }


h2.-big::after
{ background-position: left 24px center; }


.-triangle-first
{ padding-bottom: 24px;
   }


.-triangle-prev
{ padding-bottom: 72px;
  margin-bottom: -48px; }


.-triangle
{ padding-top: 96px;
  background-color: #fff;
  clip-path: polygon(0 0, 50% 48px, 100% 0, 100% 110%, 0 110%);
  position: relative; }


.-triangle-shadow
{ position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 48px solid white;
  filter: drop-shadow(0 0 12px #0003); }



/*** ** ** ** ***/

.-navi
{ font-size: 18px;
  line-height: 1;
  text-align: center;
  display: flex;
  flex-direction: column; }


.-navi-wr
{ top: 0;
  max-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 24px #0003; }


.-navi button:hover,
.-navi button:focus,
.-navi a:hover,
.-navi a:focus
{ outline: none;
  cursor: pointer; }


.-navi .reg button:hover,
.-navi .reg button:focus,
.-navi .soc a:hover img,
.-navi .soc a:focus img
{ transform: scale(1.05); }


.-navi .top
{ display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px; }


.-navi * + ul
{ margin-top: 0; }


.-navi .top img
{ width: 25px;
  height: 25px; }


.-navi .lng,
.-navi .inf,
.-navi .nav
{ font-weight: bolder; }


.-navi .lng,
.-navi .inf,
.-navi .soc,
.-navi .reg,
.-navi .nav
{ display: flex;
  flex-wrap: wrap;
  gap: 12px 24px; }


.-navi .lng li a
{ display: flex;
  align-items: center;
  gap: 3px; }


.-navi .lng li a.is-active,
.-navi .lng li a.is-active > *
{ position: relative; }


.-navi .lng li a.is-active::before
{ content: '';
  position: absolute;
  top: -5px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  box-shadow: 0 0 12px #0003;
  border-radius: 24px; }


.-navi .reg button
{ display: block;
  border: none;
  font-family: 'Gilroy';
  border-radius: 5px;
  background: #D82D2A url('../images/decor/button_decor.png') no-repeat;
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  max-width: 229px;
  width: 100%;
  padding: 18px 0 15px; 
}


.-navi .reg
{ align-items: center;
  justify-content: flex-end;
  flex: 0 1 454px; }


.-navi .reg li
{ flex: 0 1 215px; }


.-navi .reg li button
{ width: 100%; }


.-navi .reg > li:last-child button
{ background: #00a8ff url('../images/decor/button_decor.png') no-repeat; }


.-navi .nav li ul
{ font-weight: normal; }


.-navi .nav img
{ height: 12px;
  width: 12px; }


.-navi .nav li a
{ position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px; }


@media (min-width: 1270px)
{
.-navi .top,
.-navi .nav
{ justify-content: space-between; }


.-navi .mobi
{ display: none; }


.-navi .bot
{ border-top: 2px solid #f5f6f8; }


.-navi .top,
.-navi .bot
{ padding: 24px 0; }


.-navi .nav li
{ position: relative; }


.-navi .nav li ul
{ pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  top: calc(100% + 12px);
  left: var(--shift-x, 0);
  padding: 18px 12px;
  text-align: left;
  max-width: 100vw;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 12px #0003;
  border-radius: 6px; }


.-navi .nav li ul::before
{ content: '';
  width: 100%;
  height: 12px;
  position: absolute;
  left: 0;
  top: -12px; }


.-navi .nav li ul li+li
{ margin-top: 12px; }


.-navi .nav li:hover ul,
.-navi .nav li:focus-within ul
{ pointer-events: all;
  visibility: visible;
  opacity: 1;
  z-index: 1; }
}


@media (max-width: 1269px)
{
.-navi-wr
{ position: sticky;
  overflow: auto;
  z-index: 10; }


.-navi .top
{ margin-bottom: 12px; }


.-navi .top,
.-navi .bot,
.-navi .mobi
{ padding: 12px 0; }


.-navi .bot
{ order: 1; }


.-navi .top
{ order: 2; }


.-navi .top > *,
.-navi .bot > *,
.-navi .inf > *,
.-navi .reg > *
{ flex: 1 1 100%;
  justify-content: center; }


.-navi .nav > *
{ flex: 1 1 100%; }


.-navi .mobi
{ display: block;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 12px 12px -12px #0003; }


.-navi .mobi ul
{ display: flex;
  gap: 12px 24px;
  justify-content: space-between; }


.-navi .mobi button
{ display: block;
  border: none;
  border-radius: 0;
  background: none; }


.-navi .mobi button img
{ display: block;
  width: 24px;
  height: 24px; }


.-navi .mobi a img
{ display: block;
  width: 52px;
  height: 24px; }


.-navi .mobi.is-hiding ~ .top,
.-navi .mobi.is-hiding ~ .bot
{ display: none; }


.-navi .nav li ul > li
{ margin-top: 6px; }


.-navi .nav li ul
{ display: none; }


.-navi .nav li a.is-shown ~ ul
{ display: block; }
}



/*** ** ** ** ***/





/*** ** ** ** ***/

.-welcome .-inner,
.-about .-inner,
.-who-goes .-inner,
.-speaker .-inner,
.-memory .-inner,
.-org .-inner
{ margin-top: 24px;
  margin-bottom: 24px; }



/*** ** ** ** ***/

.-memory
{ background: var(--bg-1, none) no-repeat center / cover; }


.-memory .is-hidden
{ display: none; }


.-memory .video
{ position: relative;
  padding-bottom: 56.25%;
  background:
  var(--bg-2, none) no-repeat center,
  var(--bg-1, none) no-repeat center / cover; }


.-memory .video > *
{ position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }


.-memory .video-w
{ margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  box-shadow: 0 12px 12px #0003;
  border-radius: 12px;
  overflow: hidden; }



/*** ** ** ** ***/

.-memory .bt,
.-speaker .bt
{ display: inline-block;
  border: none;
  border-radius: 24px;
  background: #00a8ff;
  color: #fff;
  padding: 10px 24px;
  box-shadow: 0 12px 12px #0002; }



/*** ** ** ** ***/

* + .-welcome
{ margin-top: 48px; }


.-welcome .bg
{ position: relative;
  background: linear-gradient(-45deg, #027049, #00953f);
  padding: 12px; }


.-welcome .star-1,
.-welcome .star-2,
.-welcome .star-3
{ display: none; }



.-welcome .init
{ display: flex;
  flex-wrap: wrap;
  gap: 24px; }


.-welcome .init img
{ display: block;
  width: 120px; }


.-welcome .init a:hover,
.-welcome .init a:focus
{ transform: scale(1.05); }


.-welcome .date .numbr
{ display: block;
  font-weight: bolder;
  font-size: 84px;
  line-height: 1;
  color: #fecd05; }


.-welcome .date .month
{ display: block;
  font-weight: bolder;
  font-size: 30px;
  line-height: 1;
  color: #fff; }


.-welcome .logo
{ padding: 24px 0; }


.-welcome .logo img
{ display: block;
  width: 320px;
  margin: auto;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0px 4px 4px rgba(56, 56, 56, 0.5)); }


.-welcome .city .loc
{ display: block;
  font-weight: bolder;
  font-size: 72px;
  line-height: 1;
  color: #fecd05;
  text-align: end; }


.-welcome .city .resp
{ display: block;
  font-weight: bolder;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: end; }


.-welcome .warning
{ display: flex;
  gap: 12px;
  justify-content: center;
  color: #008146;
  font-size: 18px; }


.-welcome .warning img
{ width: 27px;
  height: 27px;
  transform: scale(1.5); }


@media (min-width: 480px) and (max-width: 1179px)
{
.-welcome .bg
{ background:
  var(--bg-1, none) no-repeat left bottom / 120px 120px,
  var(--bg-1, none) no-repeat right top / 120px 120px,
  linear-gradient(-45deg, #027049, #00953f); }
}


@media (min-width: 1180px)
{
.-welcome .bg
{ padding: 24px; }


@supports (grid-template-areas: 'a b c')
{
* + .-welcome
{ margin-top: 96px; }


.-welcome .bg
{ display: grid;
  grid-template-rows: 1fr auto 1fr; }


.-welcome .city
{ align-self: flex-end; }


.-welcome .logo
{ padding: 0; }


.-welcome .logo img
{ transform: scale(3) translateY(-24px); }


.-welcome .star-1,
.-welcome .star-2,
.-welcome .star-3
{ display: block;
  position: absolute;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0 0 12px #0006); }


.-welcome .star-1
{ bottom: -20px;
  left: -220px;
  width: 360px;
  height: 360px; }


.-welcome .star-2
{ bottom: -80px;
  left: 80px;
  width: 160px;
  height: 160px; }


.-welcome .star-3
{ top: -80px;
  right: -180px;
  width: 380px;
  height: 380px; }
}
}


/* UPD */

.-welcome .live
{ text-align: center; }


.-welcome .live a:not(:hover).-bt,
.-welcome .live a:not(:focus).-bt
{ color: black; }


@media (min-width: 1180px)
{
  .-welcome .live
  { position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }
}



@media (max-width: 1639px)
{
  .-welcome .star-3
  { display: none; }
}






/*** ** ** ** ***/

@media (min-width: 960px)
{
.-about
{ background: var(--bg-1, none) no-repeat calc(50% - 640px) center #fff; }

.-about .info {
  height: fit-content;
  padding-bottom: 67px;
  position: relative;
}
.-about .info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url('../images/h/decor-horisontal.png') no-repeat;
  background-size: cover;
}
@supports (grid-template-areas: 'a b c')
{
.-about .gr
{ display: grid;
  gap: 24px;
  grid-template-areas: 'info pict';
  grid-template-columns: 1fr 599px; }
}
}


.-about p
{ font-size: 18px;
  color: #232f4f; }


.-about .big
{ font-size: 24px;
  font-weight: bolder;
  line-height: 1.2; }


.-about .pict img
{ display: block;
  margin: auto; }



/*** ** ** ** ***/

.-who-goes .person
{ overflow: hidden;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 24px 24px #0001; }


.-who-goes p
{ font-size: 18px; }


.-who-goes .bg
{ background-color: #008545;
  padding: 24px; }


.-who-goes .bg h3
{ --font-size: 36px;
  color: #fecd05; }


.-who-goes .bg .prof
{ font-size: 18px;
  line-height: 1;
  color: #fff; }


.-who-goes .bg > * + .prof
{ margin-top: 6px; }


.-who-goes * + .quote
{ margin-top: 0; }


.-who-goes .quote
{ padding: 24px; }


.-who-goes .pict
{ display: none; }


.-who-goes .pict img
{ display: block;
  width: 100%; }


@media (min-width: 960px)
{
.-who-goes
{ background:
  var(--bg-1, none) no-repeat calc(50% - 1200px) center,
  var(--bg-2, none) no-repeat calc(50% + 860px) center #fff; }


@supports (grid-template-areas: 'a b c')
{
.-who-goes .person
{ display: grid;
  grid-template-areas: 'main photo' 'quote photo';
  grid-template-columns: 1fr 490px;
  grid-template-rows: auto 1fr; }


.-who-goes .person.ver-2
{ grid-template-areas: 'photo main' 'photo quote';
  grid-template-columns: 490px 1fr; }


.-who-goes .pict
{ display: block;
  grid-area: photo; }


.-who-goes .bg
{ grid-area: main; }


.-who-goes .quote
{ grid-area: quote; }


.-who-goes .person .pict img
{ border-radius: 0 0 0 48px; }


.-who-goes .person.ver-2 .pict img
{ border-radius: 0 0 48px 0; }
}
}



/*** ** ** ** ***/

.-speaker-list
{ display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }


.-speaker-list > *
{ flex: 1 1 240px;
  min-width: 0;
  margin-left: 24px; }


.-speaker-list > :not(:empty)
{ margin-bottom: 24px;
  padding: 20px;
  box-shadow: 0 24px 24px #0001;
  border-radius: 12px;
  background: var(--bg-1, none) no-repeat right bottom; }


.-speaker-list .pict img
{ display: block;
  width: 100%;
  border-radius: 12px; }


.-speaker-list .name
{ font-weight: bolder;
  font-size: 21px;
  line-height: 1;
  color: #232f4f; }


.-speaker-list .prof
{ font-weight: bolder;
  color: #878787; }


.-speaker-list * + .name
{ margin-top: 18px; }


.-speaker-list * + .prof
{ margin-top: 12px; }



/*** ** ** ** ***/

.-org h3
{ --font-size: 30px;
  font-weight: bolder;
  text-align: center; }


.-org * + h3
{ margin-top: 72px; }


.-org-list
{ display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px; }


.-org-list > *
{ min-width: 0;
  flex: 0 1 320px; }


.-org-list img
{ display: block;
  width: 320px;
  box-shadow: 0 6px 12px #0001;
  border-radius: 6px;
  transition: box-shadow 300ms; }


.-org-list a:hover img,
.-org-list a:focus img
{ box-shadow: 0 6px 12px #0003; }


.-org-list a:hover,
.-org-list a:focus
{ outline: none; }



/*** ** ** ** ***/

.-footline
{ display: flex;
  justify-content: center;
  background: var(--bg-1, none) repeat-x calc(50% + 18px) bottom / auto 50%; }


.-footline a
{ background-color: #018742;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  padding: 12px 12px;
  border-radius: 6px 6px 0 0; }



/*** ** ** ** ***/

.-foot
{ background: linear-gradient(90deg, #028c3c, #016340) #016340;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px; }


.-foot .gr
{ display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px; }


@media (min-width: 720px)
{
@supports (grid-template-areas: 'a b c')
{
.-foot .gr
{ display: grid;
  grid-template-areas: 'logo soc info';
  grid-template-columns: 1fr 1fr 1fr; }


.-foot .gr .logo
{ grid-area: logo; }


.-foot .gr .soc
{ grid-area: soc;
  justify-content: center; }


.-foot .gr .info
{ grid-area: info;
  align-items: flex-end; }
}
}


.-foot .gr .logo img
{ display: block;
  width: 410px; }


.-foot .gr .soc
{ display: flex;
  flex-wrap: wrap;
  gap: 12px; }


.-foot .gr .soc img
{ display: block;
  width: 25px;
  height: 25px; }


.-foot .gr .soc a:hover img,
.-foot .gr .soc a:focus img
{ transform: scale(1.05); }


.-foot .gr .info
{ display: flex;
  flex-direction: column; }


.-foot .copy
{ font-size: 12px;
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto; }


.-foot * + .copy
{ margin-top: 24px; }



/*** ** ** ** ***/

.-head
{ background: linear-gradient(90deg, #008e3a, #027049);
  padding-top: 48px;
  padding-bottom: 48px; }


.-headline
{ background: var(--bg-1, none) repeat-x left top;
  width: 100%;
  height: 26px; }


@media (min-width: 1400px)
{
.-head
{ background:
  var(--bg-2, none) repeat-y calc(50% + 760px) top,
  var(--bg-1, none) repeat-y calc(50% - 760px) top,
  linear-gradient(90deg, #008e3a, #027049); }
}


.-head .bg
{ display: flex;
  align-items: center;
  gap: 24px; }


.-head .bg > *
{ min-width: 0; }


.-head .logo img
{ filter: drop-shadow(0 12px 6px #0006); }


@media (min-width: 600px) and (max-width: 959px)
{
.-head
{ background:
  var(--bg-2, none) repeat-y right top,
  var(--bg-1, none) repeat-y left top,
  linear-gradient(90deg, #008e3a, #027049); }
}


@media (max-width: 959px)
{
.-head .bg
{ flex-direction: column; }


.-head .init
{ display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px; }


.-head .init img
{ display: block;
  width: 120px; }


.-head .init a:hover,
.-head .init a:focus
{ transform: scale(1.05); }


.-head .date,
.-head .city
{ text-align: center; }


.-head .date .numbr
{ display: block;
  font-weight: bolder;
  line-height: 1;
  color: #fecd05; }


.-head .date .month
{ display: block;
  font-weight: bolder;
  line-height: 1;
  color: #fff; }


.-head .date,
.-head .logo
{ padding: 12px 0; }


.-head .logo img
{ display: block;
  width: 240px;
  margin: auto;
  user-select: none;
  pointer-events: none; }


.-head .city .loc
{ display: block;
  font-weight: bolder;
  line-height: 1;
  color: #fecd05;; }


.-head .city .resp
{ display: block;
  font-weight: bolder;
  line-height: 1;
  color: #fff; }
}


@media (min-width: 960px)
{
.-head .bg > *
{ flex: 1 1 240px; }


.-head .init
{ display: flex;
  flex-wrap: wrap;
  gap: 24px; }


.-head .init img
{ display: block;
  width: 120px; }


.-head .init a:hover,
.-head .init a:focus
{ transform: scale(1.05); }


.-head .date .numbr
{ display: block;
  font-weight: bolder;
  font-size: 84px;
  line-height: 1;
  color: #fecd05; }


.-head .date .month
{ display: block;
  font-weight: bolder;
  font-size: 30px;
  line-height: 1;
  color: #fff; }


.-head .logo
{ padding: 24px 0; }


.-head .logo img
{ display: block;
  width: 320px;
  margin: auto;
  user-select: none;
  pointer-events: none; }


.-head .city .loc
{ display: block;
  font-weight: bolder;
  font-size: 72px;
  line-height: 1;
  color: #fecd05;
  text-align: end; }


.-head .city .resp
{ display: block;
  font-weight: bolder;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-align: end; }
}



/*** ** ** ** ***/

.-content p a,
.-content ul a,
.-content ol a,
.-content dl a
{ display: inline-block;
  font-weight: bolder;
  text-decoration: underline red; }


.-content p a:hover,
.-content p a:focus,
.-content ul a:hover,
.-content ul a:focus,
.-content ol a:hover,
.-content ol a:focus,
.-content dl a:hover,
.-content dl a:focus
{ text-decoration-color: green; }


.-content li ol,
.-content li ul,
.-content li dl
{ margin-inline-start: 12px; }


.-content h1
{ text-align: center; }


































.-cntc * + .item
{ margin-top: 24px; }


.-cntc a
{ color: black; }


.-cntc .f
{ display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }


.-cntc .f > *
{ flex: 1 1 100%;
  margin-left: 24px;
  margin-bottom: 24px; }



@media (min-width: 800px)
{
.-cntc .f
{ flex-wrap: nowrap; }


.-cntc .name
{ flex: 0 1 480px;
  margin-right: auto; }


.-cntc .email
{ flex: 0 1 340px; }


.-cntc .phone, .-cntc .phones
{ flex: 0 0 200px; }


.-cntc .dnld
{ flex: 0 1 540px; }
}


.-cntc .item
{ border-bottom: 1px solid #ccc;
  padding-bottom: 23px; }


.-cntc .name
{ font-size: 20px;
  font-weight: 600; }


.-cntc .email,
.-cntc .phone
{ font-size: 18px; }


.-cntc .name,
.-cntc .email,
.-cntc .phone,
.-cntc .dnld
{ display: flex;
  align-items: center;
  line-height: 1; }


.-cntc .name img
{ margin-right: 6px;
  width: 44px;
  height: 44px; }


.-cntc .email img,
.-cntc .phone img
{ margin-right: 6px;
  width: 28px;
  height: 28px; }


.-cntc .dnld a
{ color: #fff;
  background: linear-gradient(90deg, #009ee3, #009874);
  width: 100%;
  padding: 14px;
  text-align: center;
  border-radius: 3px; }


/*
.-cntc .phones
{ flex-direction: column;
  align-items: baseline; }
*/

.-cntc .phones > .phone
{ flex: auto; }





















  


  .-loc-gradient
  { font-size: 24px;
      line-height: 1;
      font-weight: 600; }


  a.-loc-link
  { color: #009ee3; }

.dnld
{ display: inline-flex;
align-items: center;
line-height: 1; }

.dnld a
{ color: #fff;
background: linear-gradient(90deg, #009ee3, #009874);
width: 100%;
padding: 14px;
text-align: center;
border-radius: 3px; }


  @supports ((background-clip: text) or (-webkit-background-clip: text))
  {
      .-loc-gradient span
      { background: linear-gradient(90deg, #009ee3, #0f4f8b);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent; }
  }






.-loc-addr
{ list-style-type: none; }


.-loc-addr li
{ padding-left: 36px;
min-height: 30px;
background: var(--bg-1, none) no-repeat left top / 30px 30px; }


.-loc-addr li+li
{ margin-top: 18px; }


.-loc-addr span
{ display: block; }


.-loc-addr .name
{ font-weight: 600; }


.-loc-addr li
{ display: flex;
justify-content: space-between; }


.-loc-addr > li:not(:last-child)
{ padding-bottom: 12px;
border-bottom: 1px solid #ccc; }


.-loc-addr li .name,
.-loc-addr li .addr
{ flex: 0 1 auto; }


@media (max-width: 799px)
{
.-loc-addr li
{ flex-wrap: wrap; }

.-loc-addr li .name,
.-loc-addr li .addr
{ flex: 1 1 100%; }
}
@media (min-width: 800px)
{
.-loc-addr .addr
{  padding-left: 24px;
background: var(--bg-2, none) no-repeat left top 2px / auto 20px; }
}










































/* ** *** ** */

.-archive-h
{ font-weight: bolder;
  line-height: 1.2;
  text-align: center; }


@supports ((background-clip: text) or (-webkit-background-clip: text))
{
.-archive-h > *
{ background: linear-gradient(90deg, #009ee3, #009874);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; }
}


@media (min-width: 640px)
{
.-archive-h
{ font-size: 36px; }
}


/**/


.-archive-stats
{ display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-bottom: -32px;
  padding-bottom: 155px;
  background:
    url(/img/archive/heart-down.png) no-repeat center bottom;
  background:
    url(/img/archive/heart-down.png) no-repeat calc(50%  + 16px) calc(100% - 32px); }


.-archive-stats .item,
.-archive-stats .empty
{ margin-left: 32px;
  flex: 1 1 240px; }


.-archive-stats .item
{ margin-bottom: 32px;
  min-width: 0;
  background: linear-gradient(0deg, #0f4f8b, #00a0e3);
  border-radius: 12px; }


.-archive-stats > .item:nth-child(n + 5)
{ background: linear-gradient(0deg, #009b7b, #16627b); }


.-archive-stats .item img
{ display: block;
  margin: auto;
  pointer-events: none;
  user-select: none; }


.-archive-stats .item .desc
{ font-weight: 600;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  padding: 12px;
  color: #fff; }


@supports (pointer-events: none)
{
.-archive-stats
{ position: relative; }


.-archive-stats::before
{ content: '';
  position: absolute;
  pointer-events: none;
  user-select: none;
  width: 1920px;
  height: 522px;
  top: 0;
  left: calc(50% - 960px);
  background:
    url(/img/archive/heart-left.png) no-repeat left center; }
}


/**/


.-archive-video
{ max-width: 800px;
  margin-left: auto;
  margin-right: auto; }


.-archive-video .video
{ position: relative;
  padding-bottom: 56.25%; }


.-archive-video .video > *
{ position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }


@supports (pointer-events: none)
{
.-archive-video
{ position: relative; }


.-archive-video::before
{ content: '';
  position: absolute;
  pointer-events: none;
  user-select: none;
  width: 1920px;
  height: 460px;
  top: 0;
  left: calc(50% - 960px);
  background:
    url(/img/archive/bg-2019.png) no-repeat left center; }


.-archive-video .video::before
{ content: '';
  position: absolute;
  pointer-events: none;
  user-select: none;
  left: -6px;
  top: -6px;
  height: calc(100% + 12px);
  width: calc(100% + 12px);
  background: linear-gradient(90deg, #81edf999, #39a8fa99);
  border-radius: 12px; }
}


/**/


.-archive-speaker
{ display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }


.-archive-speaker .item,
.-archive-speaker .empty
{ flex: 1 1 240px;
  margin-left: 24px; }


.-archive-speaker .item
{ margin-bottom: 24px;
  padding: 0 18px 18px 18px; }


@supports(pointer-events: none)
{
.-archive-speaker .item
{ position: relative; }


.-archive-speaker .item::before
{ content: '';
  pointer-events: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 72px;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 12px #0003;
  background: url(/img/archive/heart-down.png) no-repeat right bottom / auto 64px;
  z-index: -1; }
}


.-archive-speaker .item > * + *
{ margin-top: 24px; }


.-archive-speaker .item .face
{ position: relative; }


.-archive-speaker .item .face::before
{ content: '';
  position: absolute;
  left: -6px;
  top: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background: linear-gradient(0deg, #08a0d2, #0abaa1);
  border-radius: 6px 6px 0 0; }


.-archive-speaker .item .face img
{ position: relative;
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0; }


.-archive-speaker .item .info
{ font-weight: 600; }


.-archive-speaker .item .name
{ font-size: 24px;
  color: #131313; }


.-archive-speaker .item .prof
{ color: #878787; }


/**/


.-archive-foreign
{ display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -24px; }


.-archive-foreign > *
{ flex: 1 1 504px;
  margin-left: 24px;
  margin-bottom: 24px; }


.-archive-foreign .pict
{ display: flex; }


.-archive-foreign .pict > *
{ margin: auto; }


.-archive-foreign .pict .bg
{ padding: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #08a0d2, #0abaa1); }


.-archive-foreign .pict img
{ display: block;
  width: 100%;
  max-height: 555px;
  object-fit: contain; }


.-archive-guest .col
{ display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-bottom: -12px; }


.-archive-guest .col > *
{ flex: 1 1 240px;
  margin-left: 12px;
  margin-bottom: 12px; }


.-archive-guest
{ display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 12px #0003;
  border-radius: 24px; }


.-archive-guest > *
{ flex: 1 1 516px; }


.-archive-guest .list
{ padding: 24px;
  flex: 100000 1 548px; }


.-archive-guest .pict
{ display: flex;
  flex: 1 1 548px; }


.-archive-guest .pict > *
{ margin: auto;
  border-radius: 24px; }



.-archive-gallery .swiper-slide img
{ display: block;
  width: 100%; }

.-archive-gallery .swiper-slide:not(.swiper-slide-active) img
{ opacity: 0.5; }

.-archive-gallery .swiper-button-prev,
.-archive-gallery .swiper-container-rtl .swiper-button-next,
.-archive-gallery .swiper-button-next,
.-archive-gallery .swiper-container-rtl .swiper-button-prev
{ background-color: #ccf;
  border-radius: 50%;
  --swiper-navigation-size: 28px;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 9px rgba(0,0,0,0.2);
  background-size: 14px;
  -moz-user-select: none;
  user-select: none;
  outline: none; }





/*** ***/

a.-bt,
button.-bt
{ display: inline-flex;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: 24px;
  background: #ccc;
  color: white;
  padding: 10px;
  font-size: 16px;
  line-height: 1; }


a.-bt.--yellow,
button.-bt.--yellow
{ background: #fecd05; }


a.-bt.--rainbow,
button.-bt.--rainbow
{ background: linear-gradient(90deg, #08a1d0, #0ab8a4); }


a.-bt:hover,
a.-bt:focus,
button.-bt:hover,
button.-bt:focus
{ cursor: pointer;
  background: #e44e2f;
  color: white;
  text-decoration: none;
  outline: none; }


a.-bt img,
button.-bt img
{ width: 1em;
  height: 1em;
  transform: scale(1.5); }





