extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block table 
    <div class="-outer whitebg">
        <div class="-inner">
            <p class="-bread">
                <a href="/">Главная</a> 
                | &nbsp;▪ <span>Сравнение</span>
            </p>
            <h1>Сравнение</h1>
            <ul class="-rock-list §2 -compare">
                <li>
                    <a href="/catalog/mramor/koelga/" class="-rock-element">
                        <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                            <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                            .dop 
                                p.zakaz Под заказ
                                p.action Акция
                        </div>
                        <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                        <div class="info">
                            <span>от 3 500 руб./м2</span>
                        </div>
                        .haract
                            p Тип камня 
                                span Мрамор
                            p Страна
                                span Испания
                            p Размеры
                                span 2x2-12x13 м2
                            p Толщина
                                span 25-250 мм
                            p В наличии
                                span 328 м2
                            p В резерве
                                span 102 м2
                            <button data-modal="ROCKS" class="-btn">Заказать</button>
                            <button class="-btn-delete">убрать из сравнения</button>
                    </a>
                </li>
                <li>
                    <a href="/catalog/mramor/koelga/" class="-rock-element">
                        <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                            <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                            .dop 
                                p.zakaz Под заказ
                                p.action Акция
                        </div>
                        <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                        <div class="info">
                            <span>от 3 500 руб./м2</span>
                        </div>
                        .haract
                            p Тип камня 
                                span Мрамор
                            p Страна
                                span Испания
                            p Размеры
                                span 2x2-12x13 м2
                            p Толщина
                                span 25-250 мм
                            p В наличии
                                span 328 м2
                            p В резерве
                                span 102 м2
                            <button data-modal="ROCKS" class="-btn">Заказать</button>
                            <button class="-btn-delete">убрать из сравнения</button>
                    </a>
                </li>
                <li>
                    <a href="/catalog/mramor/koelga/" class="-rock-element">
                        <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                            <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                            .dop 
                                p.zakaz Под заказ
                                p.action Акция
                        </div>
                        <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                        <div class="info">
                            <span>от 3 500 руб./м2</span>
                        </div>
                        .haract
                            p Тип камня 
                                span Мрамор
                            p Страна
                                span Испания
                            p Размеры
                                span 2x2-12x13 м2
                            p Толщина
                                span 25-250 мм
                            p В наличии
                                span 328 м2
                            p В резерве
                                span 102 м2
                            <button data-modal="ROCKS" class="-btn">Заказать</button>
                            <button class="-btn-delete">убрать из сравнения</button>
                    </a>
                </li>
                <li>
                    <a href="/catalog/mramor/koelga/" class="-rock-element">
                        <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                            <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                            .dop 
                                p.zakaz Под заказ
                                p.action Акция
                        </div>
                        <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                        <div class="info">
                            <span>от 3 500 руб./м2</span>
                        </div>
                        .haract
                            p Тип камня 
                                span Мрамор
                            p Страна
                                span Испания
                            p Размеры
                                span 2x2-12x13 м2
                            p Толщина
                                span 25-250 мм
                            p В наличии
                                span 328 м2
                            p В резерве
                                span 102 м2
                            <button data-modal="ROCKS" class="-btn">Заказать</button>
                            <button class="-btn-delete">убрать из сравнения</button>
                    </a>
                </li>
                <li>
                    <a href="/catalog/mramor/koelga/" class="-rock-element">
                        <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                            <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                            .dop 
                                p.zakaz Под заказ
                                p.action Акция
                        </div>
                        <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                        <div class="info">
                            <span>от 3 500 руб./м2</span>
                        </div>
                        .haract
                            p Тип камня 
                                span Мрамор
                            p Страна
                                span Испания
                            p Размеры
                                span 2x2-12x13 м2
                            p Толщина
                                span 25-250 мм
                            p В наличии
                                span 328 м2
                            p В резерве
                                span 102 м2
                            <button data-modal="ROCKS" class="-btn">Заказать</button>
                            <button class="-btn-delete">убрать из сравнения</button>
                    </a>
                </li>
                <li>
                    button.-btn-plus 
                        <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.35768 0H78.6423C79.9441 0 81 1.05589 81 2.35768V78.6423C81 79.9441 79.9441 81 78.6423 81H2.35768C1.05589 81 0 79.9441 0 78.6423V2.35768C0 1.05589 1.05589 0 2.35768 0ZM67.3602 38.1423C68.662 38.1423 69.7179 39.1982 69.7179 40.5C69.7179 41.8018 68.662 42.8577 67.3602 42.8577H42.8577V67.3602C42.8577 68.662 41.8018 69.7179 40.5 69.7179C39.1982 69.7179 38.1423 68.662 38.1423 67.3602V42.8577H13.6398C12.338 42.8577 11.2821 41.8018 11.2821 40.5C11.2821 39.1982 12.338 38.1423 13.6398 38.1423H38.1423V13.6398C38.1423 12.338 39.1982 11.2821 40.5 11.2821C41.8018 11.2821 42.8577 12.338 42.8577 13.6398V38.1423H67.3602ZM76.2846 4.71536H4.71536V76.2991H76.2991V4.71536H76.2846Z"/>
                        </svg>
                        | Добавляйте товары из каталога для сравнения
                </li>
        </div>
    </div>

