extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block detail
    <div class="-outer whitebg -table -stone-detail">
        <div class="-inner">
            <p class="-bread">
                <a href="/">Главная</a>&nbsp;▪ 
                <a href="/catalog/" title="Каталог камня">Каталог камня</a>&nbsp;▪ 
                <a href="/catalog/mramor/" title="Мрамор">Мрамор</a>&nbsp;▪ 
                <span>Коелга | Koelga</span>
            </p>
            .detail
                .stone
                    .stone__pictures.stone__small-slider-js 
                        ul.swiper-wrapper
                            li.swiper-slide 
                                img(src='/images/stone/1.png' alt="Камень")
                            li.swiper-slide 
                                img(src='/images/stone/2.png' alt="Камень")
                            li.swiper-slide 
                                img(src='/images/stone/3.png' alt="Камень")
                            li.swiper-slide 
                                img(src='/images/stone/4.png' alt="Камень")
                    .stone__pic.stone__big-slider-js 
                        .stone__pic-wrapper.swiper-wrapper
                            .stone__pic-item.swiper-slide
                                img(src='/images/stone/1.png' alt="Камень")
                            .stone__pic-item.swiper-slide
                                img(src='/images/stone/2.png' alt="Камень")
                            .stone__pic-item.swiper-slide
                                img(src='/images/stone/3.png' alt="Камень")
                            .stone__pic-item.swiper-slide
                                img(src='/images/stone/4.png' alt="Камень")
                        <div class="stone__prev-btn swiper-button-prev-js"></div>
                        <div class="stone__next-btn swiper-button-next-js"></div>
                .stone__info
                    .stone__tabs 
                        p.zakaz Под заказ
                        p.action Акция
                    h1 Кварцит ПАТАГОНИЯ | PATAGONIA
                    <p class="gray">Белый, Желтый, Коричневый</p>
                    .stone__buttons 
                        <button data-modal="ROCKS" class="-btn">Заказать</button>
                        .stone__buttons-container
                            .stone__curr-container
                                .wrapper__curr
                                    select(name="currency-select" id="currency-select").wrapper__select
                                        option(value="rub") RUB
                                        option(value="usd") USD
                                        option(value="euro") EURO
                                    <div class="wrapper__currencys">
                                        <svg class="wrapper__currencys-curr is-visible" width="14" height="18" data-currency-code="rub" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_103_530)">
                                            <path d="M2.1 18V15H0V12.8H2.1V10.6H0V8.4H2.1V0H8.6C10.1 0 11.3 0.5 12.4 1.6C13.4 2.6 13.9 3.9 13.9 5.4C13.9 6.9 13.4 8.1 12.4 9.2C11.4 10.2 10.1 10.7 8.6 10.7H4.3V12.9H8.3V15H4.3V18H2.1ZM4.3 8.4H8.6C9.5 8.4 10.2 8.1 10.8 7.5C11.4 6.9 11.7 6.2 11.7 5.3C11.7 4.4 11.4 3.7 10.8 3.1C10.2 2.5 9.5 2.2 8.6 2.2H4.3V8.4Z" fill="#3E3F52"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_103_530">
                                            <rect width="13.9" height="18" fill="#3E3F52"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        <svg class="wrapper__currencys-curr" width="10" height="18" data-currency-code="usd" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_103_532)">
                                            <path d="M3.8 18V15.9C2.8 15.7 2 15.3 1.3 14.7C0.7 14.1 0.2 13.3 0 12.4L1.9 11.7C2.1 12.5 2.5 13.1 3 13.5C3.5 13.8 4.1 14 4.8 14C5.5 14 6.1 13.8 6.5 13.5C6.9 13.2 7.1 12.7 7.1 12.2C7.1 11.6 6.9 11.1 6.4 10.7C6 10.3 5.2 9.9 4 9.5C2.8 9.2 2 8.7 1.4 8C0.8 7.3 0.5 6.5 0.5 5.5C0.5 4.7 0.8 3.9 1.3 3.3C1.8 2.6 2.7 2.2 3.8 2.1V0H5.5V2.1C6.3 2.2 6.9 2.5 7.5 3C8.1 3.4 8.5 4 8.8 4.7L6.9 5.4C6.7 4.9 6.4 4.6 6 4.3C5.6 4.1 5.2 3.9 4.6 3.9C3.9 3.9 3.4 4 3.1 4.3C2.7 4.6 2.5 5 2.5 5.5C2.5 6 2.7 6.5 3.1 6.8C3.5 7.1 4.4 7.5 5.7 8C6.8 8.4 7.7 8.9 8.3 9.6C8.9 10.3 9.2 11.1 9.2 12.2C9.2 13.3 8.9 14.1 8.3 14.8C7.7 15.5 6.8 15.9 5.5 16.1V18H3.8Z" fill="#3E3F52"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_103_532">
                                            <rect width="9.2" height="18" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        <svg class="wrapper__currencys-curr" width="18" height="18" data-currency-code="euro" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_103_534)">
                                            <path d="M11.5 18C9.7 18 8 17.5 6.4 16.5C4.8 15.5 3.8 14.1 3.2 12.2H0V10H2.8C2.8 9.7 2.7 9.4 2.7 9.1C2.7 8.8 2.7 8.5 2.8 8.1H0V5.8H3.2C3.8 4 4.9 2.6 6.4 1.6C7.9 0.6 9.6 0 11.5 0C12.7 0 13.9 0.2 14.9 0.7C15.9 1.2 16.9 1.8 17.8 2.6L16.2 4.2C15.5 3.5 14.8 3 14 2.7C13.2 2.4 12.4 2.2 11.5 2.2C10.3 2.2 9.1 2.5 8 3.2C6.9 3.9 6.1 4.8 5.7 5.8H12V8H5C5 8.4 5 8.6 5 8.9C5 9.2 5 9.5 5 10H12V12.2H5.6C6.1 13.4 6.9 14.2 8 14.9C9.1 15.5 10.3 15.9 11.5 15.9C12.3 15.9 13.2 15.7 14 15.4C14.8 15.1 15.6 14.6 16.3 14L17.9 15.5C17 16.2 16 16.9 15 17.3C13.9 17.8 12.7 18 11.5 18Z" fill="#3E3F52"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_103_534">
                                            <rect width="17.8" height="18" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                .stone__cost от 35 000 руб/м2
                            .stone__buttons-dop
                                button._active
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                button
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                    ul.specification__list.stone__specification
                        li.specification__item
                            .specification__title Материал
                            .specification__border
                            .specification__desc Кварцит
                        li.specification__item
                            .specification__title Страна
                            .specification__border
                            .specification__desc Бразилия
                        li.specification__item
                            .specification__title Размеры
                            .specification__border
                            .specification__desc 2x2 - 4x5 м2
                        li.specification__item
                            .specification__title Толщина
                            .specification__border
                            .specification__desc 18 - 35 мм
                        li.specification__item
                            .specification__title В наличии
                            .specification__border
                            .specification__desc 2117 м2
                        li.specification__item
                            .specification__title В резерве
                            .specification__border
                            .specification__desc 3030 м2                                                                                
            .detail__catalog
                h2 ДОСТУПНЫЕ ВИДЫ ИЗДЕЛИЙ
                .catalog__table
                    .catalog__header.catalog__header-js
                        button._active Вид изделия 
                        button Все размеры
                        button Толщина
                        button Тип обработки
                        button В наличии
                        button В резерве
                        button Стоимость
                        button
                    .catalog__cells 
                        .catalog__cell
                            img(src="/images/stone/1.png" alt="") 
                            | Плитка 53
                        .catalog__cell 2x2 м2
                        .catalog__cell 25 мм
                        .catalog__cell Полировка
                        .catalog__cell 650 м2
                        .catalog__cell 230 м2
                        .catalog__cell 35 500 руб/м2
                        .catalog__cell 
                            button(data-modal="ROCKS") Купить
                    .catalog__cells 
                        .catalog__cell 
                            img(src="/images/stone/1.png" alt="") 
                            | Плитка 53
                        .catalog__cell 2x2 м2
                        .catalog__cell 25 мм
                        .catalog__cell Полировка
                        .catalog__cell 650 м2
                        .catalog__cell 230 м2
                        .catalog__cell 35 500 руб/м2
                        .catalog__cell 
                            button(data-modal="ROCKS") Купить
                    .catalog__cells 
                        .catalog__cell 
                            img(src="/images/stone/1.png" alt="") 
                            | Плитка 53
                        .catalog__cell 2x2 м2
                        .catalog__cell 25 мм
                        .catalog__cell Полировка
                        .catalog__cell 650 м2
                        .catalog__cell 230 м2
                        .catalog__cell 35 500 руб/м2
                        .catalog__cell 
                            button(data-modal="ROCKS") Купить
                    .catalog__cells 
                        .catalog__cell 
                            img(src="/images/stone/1.png" alt="") 
                            | Плитка 53
                        .catalog__cell 2x2 м2
                        .catalog__cell 25 мм
                        .catalog__cell Полировка
                        .catalog__cell 650 м2
                        .catalog__cell 230 м2
                        .catalog__cell 35 500 руб/м2
                        .catalog__cell 
                            button(data-modal="ROCKS") Купить
            <div class="-outer -news">
                <div class="-inner">
                    <h2>СМОТРИТЕ ТАКЖЕ</h2>
                    <ul class="-rock-list §2">
                        <li>
                            <a href="/catalog/mramor/koelga/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                                    <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                        p.action Акция
                                </div>
                                <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/sayanskij/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/2.png);">
                                    <img src="/images/rock/2.png" alt="САЯНСКИЙ | SAYANSKIJ" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                </div>
                                <div class="name"><span>САЯНСКИЙ | SAYANSKIJ</span></div>
                                <div class="info">
                                    <span>цена по запросу</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/rosa-tea/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/3.png);">
                                    <img src="/images/rock/3.png" alt="РОЗА ТИ | ROSA TIA" loading="lazy">
                                    .dop 
                                        p.nalichie В наличии
                                </div>
                                <div class="name"><span>РОЗА ТИ | ROSA TIA</span></div>
                                <div class="info">
                                    <span>от 6 520 руб./м2</span>
                                    .info__buttons
                                        button._active
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button._active
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/emperador-dark/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/4.png);">
                                    <img src="/images/rock/4.png" alt="ИМПЕРАТОР ДАРК | EMPERADOR DARK" loading="lazy">
                                    .dop 
                                        p.nalichie В наличии
                                        p.action Акция
                                </div>
                                <div class="name"><span>ИМПЕРАТОР ДАРК | EMPERADOR DARK</span></div>
                                <div class="info">
                                    <span>от 52 520 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/tassos/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/5.png);">
                                    <img src="/images/rock/5.png" alt="ТАССОС | THASSOS" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                        p.novinka Новинка
                                </div>
                                <div class="name"><span>ТАССОС | THASSOS</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li aria-hidden="true"></li>
                        <li aria-hidden="true"></li>
                        <li aria-hidden="true"></li>
                        <li aria-hidden="true"></li>
                    </ul>
                </div>
            </div>
            .detail__about
                <h2>О ПРОДУКЦИИ</h2>
                .detail__about-content
                    .detail__about-text
                        h3 ОПИСАНИЕ
                        p Московский Камнеобрабатывающий Комбинат предлагает белый, желтый или коричневый кварцит PATAGONIA в наличии и под заказ. 
                        p Кварцит Патагония белого, желтого или коричневого цвета поставляется с месторождения в Бразилии, возможна обработка по параметрам заказчика или поставка слэбов. Кварцит PATAGONIA широко используется для багетов, подоконников, лестниц, облицовки колонн, каминов, фонтанов и создания элементов интерьера и экстерьера.
                        p Стоимость кварцита Патагония предоставляется по запросу. Укажите нужное вам количество в м2/мп/шт, мы рассчитаем вам стоимость заказа.
                        h3 ФИЗИКО-МЕХАНИЧЕСКИЕ СВОЙСТВА
                        .detail__about-haracter
                            p Прочность на сжатие 
                                span 100-450 МПа
                            p Объемная масса
                                span сред: 2,6 г/см3
                            p Плотность, средняя
                                span 2,68 г/см3
                            p Твердость по шкале Мооса
                                span 7
                    .detail__contacts 
                        h3 КОНТАКТЫ
                        p <img src="/images/icon/addr/dark-phone.svg" alt="">
                            a(href="tel:+74959025242") +7 (495) 902-52-42 
                            | (многоканальный)         
                        p <img src="/images/icon/addr/dark-wa.svg" alt="">
                            a(href="tel:+79296858260") +7 (929) 685-82-60 
                            | (Whatsapp)
                        p <img src="/images/icon/addr/dark-wa.svg" alt="">
                            a(href="tel:+79296835061") +7 (929) 683-50-61 
                            | (Whatsapp)
                        p Пишите нам на e-mail: 
                            a(href="mailto:granit@oaomkk.ru" style="margin-left: 0;") granit@oaomkk.ru
            <div class="-outer -news -other-product">
                <div class="-inner">
                    <h2>ДРУГИЕ ВИДЫ ПРОДУКЦИИ</h2>
                    ul 
                        li
                            a(href="#")
                                figure
                                    img(src="/images/other1.jpg" alt="")
                                    figcaption Подоконники
                        li 
                            a(href="#")
                                figure
                                    img(src="/images/other1.jpg" alt="")
                                    figcaption Столешницы
                        li 
                            a(href="#")
                                figure
                                    img(src="/images/other1.jpg" alt="")
                                    figcaption Брусчатка

                    <div class="-outer -horizontal-callback §2">
                        <div class="-inner" style="--bg-1:url(/images/horizon/bg.jpg);">
                            <div class="f">
                            <p class="h"><span>ПОЯВИЛИСЬ ВОПРОСЫ?</span> <span>МЫ РАДЫ ВАМ ПОМОЧЬ!</span></p>
                            <form action="/local/include/ajax/ajax.call.php" method="POST" class="v1 -js-form" data-request="qwerty">
                                <input name="url" type="hidden" value="https://oaomkk.ru/contacts/">
                                <div class="chunk"><input name="name" type="text" placeholder="ФИО*" required="" pattern="[A-Za-zА-Яа-яЁё\s]+" title="Буквы A-z А-я"></div>
                                <div class="chunk"><input name="phone" type="text" placeholder="Телефон*" required="" data-mask="ru" pattern=".{18}"></div>
                                <div class="chunk"><h2><button type="submit">Заказать звонок</button></h2></div>
                            </form>
                            </div>
                            <p class="-center">Нажимая на&nbsp;кнопку, Вы&nbsp;даете согласие на&nbsp;обработку <a target="_blank" href="/upload/pers.pdf">персональных данных</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>