extends base/pug/base

append variables
    - var title = 'Галлерея'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block gallery
    include ./components/banner/banner
    include ./components/gallery/gallery