extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block welcome 
    include ./components/welcome/welcome
block about
    include ./components/about/about
block who-goes
    include ./components/who-goes/who-goes
block speaker
    include ./components/speaker/speaker
block program 
    include ./components/program/program
block memory
    include ./components/memory/memory
block location
    include ./components/location/location
block org
    include ./components/org/org
