<div class="-outer -head -bg-1" style="--bg-1:url(../images/decor/banner-bg-decor.png)">
    <div class="-inner">
        <div class="bg -bg-2" >
            <div>
                <div class="init">
                    <a href="/"><img src="./images/logo/logo-prb.png" alt=""></a>
                    <a href="/"><img src="./images/logo/logo-asi.png" alt=""></a>
                </div>
                <div class="date">2-4 июня 2022&nbsp;г.</div>
            </div>
            <div class="logo"><a href="/"><img src="./images/logo/logo-ural.svg" alt=""></a></div>
            <div class="city">
                <span class="loc">СИБАЙ</span>
                <span class="resp">РЕСПУБЛИКА БАШКОРТОСТАН</span>
            </div>
        </div>
    </div>
</div>
<div class="-outer -headline -bg-3" style="--bg-1:url(../images/decor/banner-decor-bottom.png)"></div>